<div class="ui-checkbox {{if selected 'ui-checkbox-selected'}}" {{action 'onCheck'}}>
	{{#if selected}}
		<i class="material-icons selected">check_box</i>
	{{else}}
		<i class="material-icons">check_box_outline_blank</i>
	{{/if}}
	<div class="text">{{yield}}</div>
</div>
