<div id={{contentId}} class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog {{size}}" role="document">
		<div class="modal-content">
			<div class="modal-header">{{title}}</div>
			<div class="modal-body">
				{{yield}}
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
