<div class="ui-radio {{if selected "ui-radio-selected"}}" {{action "onCheck"}}>
	{{#if selected}}
		<i class="material-icons selected">radio_button_checked</i>
	{{else}}
		<i class="material-icons">radio_button_unchecked</i>
	{{/if}}
	<div class="text">{{yield}}</div>
</div>
