{{#if (is-equal model.mode "login")}}
    <div class="sso-box">
        <p>Authenticating with CAS...</p>
        <img src="/assets/img/busy-gray.gif">
    </div>
{{/if}}

{{#if (is-equal model.mode "reject")}}
    <div class="sso-box">
        <p>CAS authentication failure</p>
        <p>{{model.message}}</p>
    </div>
{{/if}}
