.modal-content {
	border: none !important;
}

.empty-state {
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 500px;
	padding: 30px;
	@include border-radius(5px);
	background-color: map-get($gray-shades, 100);
	display: block;
	opacity: 0.8;

	> p {
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: map-get($gray-shades, 600);
		display: block;
	}

	> .material-icons {
		font-size: 5rem;
		color: map-get($gray-shades, 200);
	}
}

.not-found {
	text-align: center;
	font-size: 2rem;
	color: map-get($gray-shades, 600);
	margin: 5rem 0;
}


.theme-picker {
	display : block;
	margin-bottom: 10px;

	> .theme {
		height: 100px;
		width: 250px;
		text-align: center;
		color: $color-white;
		font-weight: 600;
		font-size: 1.2rem;
		display: inline-block;
		position: relative;
		margin: 0 20px 20px 0;
		padding: 10px 0 0 0;
		cursor: default;
		border: 7px solid map-get($gray-shades, 300);
		@include border-radius(3px);
		@include ease-in();

		&:hover {
			border: 7px solid map-get($gray-shades, 600);
		}

		.tick {
			text-align: center;
			color: $color-white;
			font-weight: 400;
			font-size: 2rem;
		}
	}
}
