.view-customize {
	.user-table {
		tbody tr td, thead tr th {
			border-top: none !important;
			border-bottom: none !important;
		}

		.name {
			font-size: 1.2rem;
			font-weight: bold;
			color: $color-link;
			margin: 0 0 0 10px;
			display: inline-block;
			cursor: pointer;

            > .email {
				font-size: 0.9rem;
				color: $color-black-light-1;
				margin: 0;
				display: inline-block;
				font-weight: normal;
			}
		}

		.groups {
			cursor: pointer;
			margin: 5px 0 0 10px;
			font-size: 1rem;
			color: map-get($gray-shades, 600);

			&:hover {
				color: $color-link;
			}
		}

		.inactive-user
		{
			color: map-get($red-shades, 600);
			font-weight: normal;
			text-decoration: line-through;
		}

		.admin-user
		{
			color: map-get($green-shades, 600);
			font-weight: normal;
		}

		.checkbox {
			color: map-get($gray-shades, 900);
			cursor: pointer;
		}
	}

	> .space-list {
        padding: 0;
        margin: 3rem 0;

		> .space {
			margin: 15px 0;
			padding: 15px 0;
			font-size: 1.2rem;
			color: $theme-500;
		}
	}

	> .groups-list {
        padding: 0;
        margin: 0;

		> .group {
			margin: 15px 0;

			.name {
				color: $color-black-light-1;
				font-size: 1.3rem;
				font-weight: 600;

				> .purpose {
					font-size: 1rem;
					color: map-get($gray-shades, 600);
				}
			}
		}
	}

	// used for group admin
	> .group-users-members {
		> .item {
			margin: 10px 0;

			> .fullname {
				color: $theme-500;
				font-size: 1.2rem;
			}
		}
	}

	// used for user admin
	> .group-membership {
		> .item {
			margin: 10px 0;

			> .group-name {
				color: $theme-500;
				font-size: 1.2rem;

				> .group-purpose {
					font-size: 0.9rem;
				}
			}
		}
	}

	> .smtp-failure, .admin-setting-failure {
		font-size: 1.2rem;
		font-weight: bold;
		color: map-get($red-shades, 600);
	}

	> .smtp-success, .admin-setting-success {
		font-size: 1.2rem;
		font-weight: bold;
		color: map-get($green-shades, 600);
	}

	> .archive-admin {
		> .list {
			> .item {
				margin: 15px 0;
				padding: 15px 0;
				@include ease-in();
				font-size: 1.2rem;
				color: $theme-500;
			}
		}
	}

	> .max-results {
		float: right;
	}

	> .backup-restore {
		margin: 20px 0;
		font-size: 1.1rem;

		> .backup-zone {
			@include border-radius(3px);
			border: 1px solid map-get($green-shades, 200);
			padding: 20px 20px;
			background-color: map-get($green-shades, 100);
			color: $color-black-light-1;

			> .backup-fail {
				margin: 10px 0;
				color: map-get($red-shades, 600);
			}

			> .backup-success {
				margin: 10px 0;
				color: map-get($green-shades, 800);
			}
		}

		> .restore-zone {
			@include border-radius(3px);
			border: 1px solid map-get($red-shades, 200);
			margin: 50px 0;
			padding: 20px 20px;
			background-color: map-get($red-shades, 100);
			color: $color-black-light-1;

			> .restore-fail {
				margin: 10px 0;
				color: map-get($red-shades, 800);
			}

			> .restore-success {
				margin: 10px 0;
				color: map-get($green-shades, 700);
			}

			> .upload-backup-file {
				@include ease-in();
				margin: 50px 0 10px 0;

				> .dz-preview, .dz-processing {
					display: none !important;
				}
			}

			.restore-upload-busy {
				text-align: center;

				> img {
					height: 50px;
					width: 50px;
				}

				> .wait {
					color: map-get($gray-shades, 600);
					margin: 10px 0;
				}

				 > .ready {
					 color: map-get($green-shades, 700);
					 margin: 10px 0;
				 }
			}
		}
	}

	> .deactivation-zone {
		@include border-radius(3px);
		border: 1px solid map-get($red-shades, 600);
		margin: 30px 0;
		padding: 20px 20px;
		background-color: map-get($red-shades, 100);
		color: $color-black-light-1;
	}
}
