.import-zone {
	margin: 3rem 1rem;
	text-align: center;

	.dz-preview, .dz-processing {
		display: none !important;
	}

	> .import-status {
		margin-top: 30px;

		> p {
			font-size: 1.1rem;
			color: $color-black-light-1;
		}
	}
}

