.view-space {
	> .documents {
		margin: 0;
		padding: 0;

		> .document {
			@include card();
			list-style-type: none;
			margin: 0 0 2rem 0;
			padding: 15px 20px;
			width: 100%;
			position: relative;

			&:hover {
				> .checkbox {
					display: block;
				}
			}

			> .checkbox {
				position: absolute;
				display: none;
				top: 10px;
				right: 10px;
				cursor: pointer;

				> .dicon {
					color: map-get($yellow-shades, 700);
					cursor: pointer;
					font-weight: 600;
					font-size: 20px;
				}
			}

			> .actions {
				position: absolute;
				display: none;
				bottom: 10px;
				right: 10px;
				cursor: pointer;
			}

			> .info {
				padding: 0;
				align-self: self-start;
				justify-self: self-start;

				> .name {
					font-size: 1.3rem;
					font-weight: 700;
					color: map-get($gray-shades, 800);
				}

				> .desc {
					font-size: 1.1rem;
					font-weight: 400;
					margin-top: 0.4rem;
					color: $color-black-light-3;
				}
			}

			> .meta {
				padding: 25px 0 0 0;

				> .lifecycle {
					display: inline-block;
					text-transform: uppercase;
					font-size: 0.9rem;
					font-weight: 500;
					text-align: center;
					@include border-radius(5px);
					background-color: map-get($gray-shades, 300);
					padding: 0.25rem 1rem;

					> .draft {
						color: map-get($yellow-shades, 600);
					}

					> .live {
						color: map-get($green-shades, 600);
					}

					> .archived {
						color: map-get($red-shades, 600);
					}
				}

				> .dicon {
					color: map-get($gray-shades, 600);
					font-size: 20px;
				}

				.hashtags {
					display: inline-block;
					padding: 0 10px 0 10px;

					> .hashtag {
						padding: 0 10px 0 10px;

						> .dicon {
							color: map-get($gray-shades, 500);
							font-size: 20px;
							vertical-align: bottom;
						}

						> .name {
							display: inline-block;
							color: map-get($gray-shades, 800);
							font-size: 1rem;
						}

						&:hover {
							> .dicon, > .name {
								color: map-get($gray-shades, 600);
							}
						}
					}
				}
			}
		}

		> .selected {
			background-color: map-get($yellow-shades, 200);

			> .checkbox {
				display: block;
			}

			> .actions {
				display: block;
			}

			&:hover {
				background-color: map-get($yellow-shades, 200);
			}
		}
	}
}

.space-admin {
	> .title {
		font-size: 1.5rem;
		font-weight: bold;
		color: map-get($gray-shades, 800);
	}

	> .sub-title {
		font-size: 1.1rem;
		color: map-get($gray-shades, 600);
	}

	> .permission-table {
		> tbody, > thead {
			> tr, > th {
				> td, > th {
					margin: 0;
					padding: 10px 15px;
					text-align: center;
				}

				> td:first-child {
					text-align: left;
				}
			}
		}

		> thead {
			> tr {
				> th {
					background-color: map-get($gray-shades, 100);
					color: map-get($gray-shades, 600);
				}

				> th:first-child {
					background-color: $color-white !important;
					border: none !important;
				}
			}
		}
	}

	> .categories {
        padding: 0;
        margin: 0;

		> .item {
			margin: 15px 0;
			padding: 15px;
			@include card();
			@include ease-in();

			> .category {
				display: inline-block;

				> .name {
					font-size: 1.2rem;
					color: $theme-500;
				}

				> .info {
					font-size: 0.9rem;
					margin-top: 8px;
					color: map-get($gray-shades, 600);
				}
			}

			> .buttons {
				margin-top: 5px;
			}

			> .action {
				display: inline-block;
			}
		}
	}
}
