.toolbar {
	margin: 30px 0 0 0;

	> .links {
		display: inlne-block;

		> .link, div > .link {
			color: map-get($gray-shades, 600);
			font-size: 1.1rem;
			font-weight: bold;
			display: inline-block;
			margin-right: 30px;
			cursor: pointer;
			text-transform: uppercase;
			@include ease-in();

			&:hover {
				color: $color-link;
			}
		}

		> .selected, div > .link {
			color: $color-link;
		}
	}

	> .buttons {
		float: right;
	}
}
