<div class="non-printable">
    <iframe frameborder="0" onmousewheel="" 
        width="100%" 
        height={{pdfOption.height}}
        src="/pdfjs/web/viewer.html?file={{pdfUrl}}#zoom=page-width&page={{pdfOption.startPage}}&pagemode={{pdfOption.sidebar}}">
    </iframe>
</div>
