<div class="non-printable">
    <iframe frameborder="0" onmousewheel="" 
        width="100%" 
        height={{viewHeight}}
        src="/pdfjs/web/viewer.html?file={{pdfUrl}}#zoom=page-width&page={{startPage}}&pagemode={{pageMode}}">
    </iframe>
</div>
