.document-view {
	.print-title {
		display: none;
		font-size: 2.3em;
		font-weight: bold;
		color:$color-black;
		margin-bottom: 20px;
		margin-top: 0;
	}

	.non-printable-message {
		display: none;
		font-size: 1em;
		font-style: italic;
		color: $color-gray;
	}

	.is-template {
		color: $color-goldy;
		font-weight: bold;
		font-size: 1.5em;
		margin-bottom: 30px;
		padding-bottom: 5px;
		border-bottom: 1px dotted $color-goldy;
	}

	> .pages {
		margin: 30px 0 50px 0;

		> .wysiwyg {
			> .is-a-page {
				.page-title {
					> .page-toolbar {
						opacity: 0.3;
						@extend .transition-all;

						&:hover {
							opacity: 1;
						}
					}

					&:hover {
						.page-toolbar {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.empty-state-document {
	margin-top: 150px;
	text-align: center;
}
