.document-container {
	> .content {
		padding: 40px 40px 40px 20px;

		.attachment-zone {
			margin: 20px 0 30px 0;

			> .list {
				margin: 0;
				padding: 7px;

				> .item {
					color: $color-off-black;
					margin-top: 10px;
					padding: 0;
					list-style-type: none;
					border-bottom: 1px solid $color-gray2;
    			padding-bottom: 10px;

					> .icon {
						vertical-align: text-top;
						margin-right: 10px;
					}

					> a > .file {
						font-size: 1rem;
					}

					> .action {
						float: right;
						vertical-align: text-top;
						@extend .cursor-pointer;
						display: none;
						color: $color-stroke;
					}


					&:hover {
						.file {
							text-decoration: underline;
						}

						.action {
							display: inline-block;
						}
					}
				}
			}
		}

		.delete-attachment-dialog,
		.delete-page-dialog {
			display: none;
		}

		.is-template {
			color: $color-green;
			font-weight: bold;
		}

		> .pages {
			margin: 20px 0 50px 0; 

			> .wysiwyg {
				> .is-a-page {
					.page-title {

						> .page-toolbar {
							opacity: 0.3;
							@extend .transition-all;

							&:hover {
								opacity: 1;
							}
						}

						&:hover {
							.page-toolbar {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

.no-sections {
	text-align: center;
	opacity: 0.4;

	> .box {
		padding: 35px;
		display: inline-block;
		margin: 0 20px;

		> .message {
			font-size: 14px;
			color: $color-off-black;
			margin-top: 20px;
		}

		> .regular-button {
			cursor: default !important;
		}

	}
}
