$diff-removed: #fdc6c6; /* light red */
$diff-added: #71FF9E; /* light green */;
$diff-changed: #c6c6fd; /* light blue */
$diff-conflicted: #f781be; /* light rose */

.page-history
{
    ul
    {
        // height: 140px;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 0;
        padding: 0;

        li
        {
            margin: 20px 20px;
            padding: 0;
            text-align: center;
            list-style-type: none;
            cursor: pointer;
            display: inline-block;

            .time-ago
            {
                font-size: 12px;
                color: $color-gray;
                padding-bottom: 5px;
            }

            .who
            {
                font-size: 12px;
                color: $color-off-black;
                margin-top: 15px;
            }

            &.active
            {
                @include border-bottom(1px);
            }
        }
    }

    .diff-report
    {
        margin: 20px 20px;

        .summary
        {
            font-size: 15px;
            text-align: center;
            margin: 0 0 20px 0;
        }

        .legend
        {
            text-align: center;
            margin: 10px 0 30px 0;
            // display: none;

            .add-key
            {
                background-color: $color-off-white;
                width: 100px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
                margin: 0 30px;
                @include border-radius(2px);
                padding: 5px 10px;
                color: $diff-added;
                border: 1px solid darken($diff-added, 10%);
            }

            .changed-key
            {
                @extend add-key;
                color: $diff-changed;
                border: 1px solid darken($diff-changed, 10%);
            }

            .removed-key
            {
                @extend add-key;
                color: $diff-removed;
                border: 1px solid darken($diff-removed, 10%);
            }
        }

        span.diff-tag-html
        {
        }

        span.diff-tag-removed
        {
            text-decoration: line-through;
            background-color: $diff-removed;
        }

        span.diff-tag-added
        {
            background-color: $diff-added;
        }

        span.diff-tag-conflict
        {
            background-color: $diff-conflicted;
        }

        span.diff-html-added
        {
            font-size: 100%;
            background-color: $diff-added;
        }

        span.diff-html-removed
        {
            font-size: 100%;
            text-decoration: line-through;
            background-color: $diff-removed;
        }

        span.diff-html-changed
        {
            background-color: $diff-changed;
        }

        span.diff-html-conflict
        {
            background-color: $diff-conflicted;
        }

        span.diff-html-added img
        {
            border: 4px solid $diff-added;
        }

        span.diff-html-removed img
        {
            border: 4px solid $diff-removed;
        }

        span.diff-html-changed img
        {
            border: 4px dotted #000099;
        }

        /*div.diff-removed-image, div.diff-added-image, div.diff-conflict-image
        {
            height: 300px;
            width: 200px;
            position: absolute;
            opacity : 0.55;
            filter: alpha(opacity=45);
            -moz-opacity: 0.45;
        }*/

        div.diff-removed-image, div.diff-added-image, div.diff-conflict-image
        {
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 2px;
            margin-left: 2px;
        }

        div.diff-removed-image
        {
            background-color: $diff-removed;
        }

        div.diff-added-image
        {
            background-color: $diff-added;
            background-repeat: no-repeat;
        }

        div.diff-conflict-image
        {
            background-color: $diff-conflicted;
            background-repeat: no-repeat;
        }
    }


}
