.document-editor {
	> .toolbar {
		width: 100%;
		padding: 0;

		> .title {
			width: 50%;

			> .input-control {
				margin: 0;

				> input {
					margin: 0 0 5px;
				}
			}
		}

		> .buttons {
			margin-top: 10px;
		}
	}

	> .canvas {
		padding: 40px 0;
	}

	.cancel-edits-dialog {
		display: none;
	}
}
