.edit-tools {
	margin: 15px 0 0 20px;
	min-height: 500px;
}

.content-linker-dialog {
	width: 300px;
	height: 400px;
	overflow-y: auto;

	.link-list {
		margin: 0;
		padding: 0;

		.link-item {
			margin: 0;
			padding: 5px 0;
			font-size: 0.9rem;
			color: $color-gray;
			cursor: pointer;

			.icon {
				margin-right: 5px;
				height: 15px;
				width: 15px;
			}
		}
	}
}
