.document-editor {
	position: relative;
	
	> .toolbar {
		width: 100%;
		padding: 0;

		> .edit-title {
			width: 70%;

			> input {
				font-weight: bold;
				font-size: 1.5rem;
				margin: 17px 0 0 0;
				color: $color-wysiwyg;
			}
		}

		> .buttons {
			margin-top: 17px;
		}
	}

	> .canvas {
		padding: 0;
	}

	.cancel-edits-dialog {
		display: none;
	}
}
