.document-sidebar-view-index {
	margin: 0;

	>.structure {
		> .toc-controls {
			margin: 0;
			color: $color-gray;

			> .round-button-mono {
				> .material-icons {
					color: $color-link;
				}
			}

			> .disabled {
				@extend .cursor-not-allowed;
				color: $color-stroke;
				border-color: $color-stroke;

				> .material-icons {
					color: $color-stroke;
				}
			}
		}

		> .index-list {
			padding: 0;
			list-style: none;
			font-size: 13px;
			overflow-x: hidden;
			list-style-type: none;
			margin: 20px 0 0;

			.item {
				padding: 4px 0;
				text-overflow: ellipsis;
				word-wrap: break-word;
				white-space: nowrap;
				overflow: hidden;
				@extend .no-select;

				> .link {
					color: $color-off-black;

					&:hover {
						color: $color-link;
					}
				}

				> .selected {
					color: $color-link;
					font-weight: bold;
				}
			}
		}
	}
}
