.document-sidebar {
	@extend .no-select;
	width: 100%;

	.stuck-toc {
		position: fixed;
		top: 20px;
		-webkit-animation: fadein 1s;
		-moz-animation: fadein 1s;
		-ms-animation: fadein 1s;
		-o-animation: fadein 1s;
		animation: fadein 1s;
	}

	.section-tool {
		position: absolute;
		top: 130px;
		right: -18px;
		z-index: 999;
	}

	.scroll-tool {
		position: absolute;
		top: 130px;
		right: -18px;
		z-index: 999;
		-webkit-animation: fadein 1s;
		-moz-animation: fadein 1s;
		-ms-animation: fadein 1s;
		-o-animation: fadein 1s;
		animation: fadein 1s;
	}

	.stuck-tool {
		position: fixed !important;
		top: 130px !important;
		right: 0;
		left: 0;
		-webkit-animation: fadein 1s;
		-moz-animation: fadein 1s;
		-ms-animation: fadein 1s;
		-o-animation: fadein 1s;
		animation: fadein 1s;
	}

	.close-action {
		float: right;

		> .round-button-mono {
			color: $color-stroke;
			border-color: $color-stroke;

			> .material-icons {
				color: $color-stroke;
			}
		}
	}

	.document-structure {
		> .toc-controls {
			margin: 0;
			color: $color-gray;

			> .round-button-mono {
				color: $color-green;
				border-color: $color-green;

				> .material-icons {
					color: $color-green;
				}
			}

			> .disabled {
				@extend .cursor-not-allowed;
				color: $color-stroke;
				border-color: $color-stroke;

				> .material-icons {
					color: $color-stroke;
				}
			}
		}

		.entries {
			padding: 0;
			list-style: none;
			font-size: 13px;
			overflow-x: hidden;
			list-style-type: none;
			margin: 20px 0 0;
			font-family: $font-semibold;

			.item {
				padding: 4px 0;
				text-overflow: ellipsis;
				word-wrap: break-word;
				white-space: nowrap;
				overflow: hidden;

				> .link {
					color: $color-gray;

					&:hover {
						color: $color-link;
					}
				}

				> .selected {
					color: $color-link;
					font-weight: bold;
				}
			}
		}
	}
}

.meta-viewers {
	> .items {
		list-style-type: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;

		> .item {
			margin: 15px 0;
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 90%;

			> .avatar-box {
				display: inline-block;
				margin: 3px 10px 0 0;
				vertical-align: top;
			}

			> .detail {
				display: inline-block;

				> .name {
					font-size: 1rem;
					color: $color-off-black;
				}

				> .date {
					font-size: 0.8rem;
				}
			}
		}
	}
}

.meta-editors {
	position: relative;

	> .items {
		list-style-type: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;

		> .item {
			margin: 15px 0;
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 90%;

			.avatar-box {
				display: inline-block;
				margin: 3px 10px 0 0;
				vertical-align: top;
			}

			.detail {
				display: inline-block;

				.name {
					font-size: 1rem;
					color: $color-off-black;
				}

				.changed {
					font-size: 0.9rem;
				}

				.deleted {
					font-size: 0.9rem;
					color: $color-red;
				}

				.date {
					font-size: 0.8rem;
				}
			}
		}
	}
}
