.section-wizard {
	> .canvas {
		padding: 0;
		margin: 0;
			
		> .list {
			margin: 0;
			padding: 0;

			> .item {
				list-style: none;
				cursor: pointer;
				width: 100%;
				border: 1px solid transparent;
				border-radius: 3px;
				margin: 0 0 20px 0;
				padding: 10px;

				&:hover {
			        background-color: $color-card-active;
			        border: 1px solid $color-border2;
			        transition: 0.2s all ease;
			    }

				.icon {
					text-align: center;

					> .img {
						// margin: 17px 10px 0 20px;
						display: block;
						height: 45px;
						width: 45px;
					}
				}


				> .details {
					display: block;
					margin-top: 10px;

					> .title {
						font-size: 1rem;
						font-weight: bold;
						color: $color-off-black;
						// margin-top: 18px;
						margin-right: 10px;
						letter-spacing: 0.5px;

						.preview {
							font-size: 0.7rem;
							color: #cc9933;
							display: inline-block;
						}
					}

					> .desc {
						color: $color-stroke;
						font-size: 0.8rem;
						margin-top: 5px;
						width: 100%;
					}
				}
			}
		}
	}
}
