.wysiwyg {
	// font-size: 1rem;
	font-size: 15px;
  	line-height: 30px;
	color: #3c3c3c;

	table
	{
		// width: auto !important;

		@include border(1px);

		td
		{
			padding: 5px 7px !important;
			@include border(1px);

			p
			{
				margin: 0 !important;
				padding: 0 !important;
			}
		}
	}

	ol, ul
	{
		margin: 15px 0;
		padding: 0 0 0 40px;
	}

	ul
	{
		li
		{
			list-style-type: disc;
		}
	}

	b
	{
			font-family: "open_sanssemibold";
	}

	h1.doc-name {
		font-size: 2em;
		font-family: open_sansregular;
	}

	h1
	{
		font-size: 1.6em;
		font-family: open_sanslight;
		color:$color-off-black;
		margin: 0 0 20px 0;
	}

	h2
	{
		font-size: 1.5em;
		margin: 30px 0 20px 0;
		font-family: open_sanslight;
	}

	h3
	{
		font-size: 1.4rem;
		margin: 30px 0 20px 0;
		font-family: open_sanslight;
	}

	h4
	{
		font-size: 1.3rem;
		margin: 30px 0 20px 0;
		font-family: open_sanslight;
	}

	h5, h6, h7, h8, h9
	{
		font-size: 1.2rem;
		margin: 30px 0 20px 0;
		font-family: open_sanslight;
	}

	h2, h3, h4, h5, h6, h7, h8, h9
	{
		.page-title
		{
			color:$color-off-black;
			font-family: open_sansregular;
		}
	}

	pre
	{
		background-color: $color-off-white;
		padding: 10px;
		border: 1px solid $color-border;
		@include border-radius(3px);
	}

	.code-mirror
	{
		background-color: none;
		padding: 10px;
		border: none;
		@include border-radius(0px);
	}

	.wysiwyg-table
	{
		border: none;
		border-collapse: collapse;
		empty-cells: show;
		max-width: 100% !important;
		margin: 0 !important;

		.fr-dashed-borders td,
		.fr-dashed-borders th {
		  border-style: dashed;
		}
		.fr-alternate-rows tbody tr:nth-child(2n) {
		  background: #f5f5f5;
		}
		td,
		th {
		  border: 1px solid #f3f5f8;
		  padding: 5px 7px !important;
		}
		td:empty,
		th:empty {
		  height: 20px;
		}
		td.fr-highlighted,
		th.fr-highlighted {
		  border: 1px double red;
		}
		td.fr-thick,
		th.fr-thick {
		  border-width: 2px;
		}
		th {
		  background: #f7f6f6;
		}
	}
}
