{{#layout/top-bar}}
	<li class="item">
		{{#link-to "folders" class="link"}}SOMETHING{{/link-to}}
	</li>
	<li class="item">
		{{#link-to "folders" class="link selected"}}Space X July 2019{{/link-to}}
	</li>
{{/layout/top-bar}}

<div class="container-fluids">
	<div class="row no-gutters">
		<div class="col-3 d-none d-md-block">
			{{#layout/side-bar}}
				<h1>ddd</h1>
			{{/layout/side-bar}}
		</div>
		<div class="col-9">
			content
		</div>

	</div>
</div>

