{{#layout/master-sidebar}}
	one<br/>
	two<br/>
	three
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
{{/layout/master-sidebar}}
{{#layout/master-content}}
	<button class="dmz-button-green" {{action 'onSuccess'}}>save</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-yellow" {{action 'onInfo'}}>update</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-gray" {{action 'onWarn'}}>cancel</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-red" {{action 'onError'}}>delete</button>
	<div class="dmz-button-gap-right" />
	<br/>
	<br/>
	<button class="dmz-button-green-light">Save</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-yellow-light">Update</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-gray-light">cancel</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-red-light">Delete</button>
	<div class="dmz-button-gap-right" />
	<br/>
	<br/>
	<button class="dmz-button-green-light"><i class="dicon dicon-e-add"/>space</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-green-light"><i class="dicon dicon-e-add"/>content</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-yellow-light"><i class="dicon dicon-e-add"/>user</button>
	<div class="dmz-button-gap-right" />
	<button class="dmz-button-gray-light"><i class="dicon dicon-e-add"/>group</button>
	<div class="dmz-button-gap-right" />
	<br/>
	<br/>
	<div class="dmz-toolbar-dark-small">
		<i class="dicon dicon-bin red"/>
		<i class="dicon dicon-print yellow"/>
		<i class="dicon dicon-settings-gear"/>
		<i class="dicon dicon-print green"/>
		<i class="dicon dicon-single-01"/>
	</div>
	<br/>
	<br/>
	<div class="dmz-toolbar-dark-large">
		<i class="dicon dicon-bin red"/>
		<i class="dicon dicon-print yellow"/>
		<i class="dicon dicon-settings-gear"/>
		<i class="dicon dicon-print green"/>
		<i class="dicon dicon-single-01"/>
	</div>
	<br/>
	<br/>
	<div class="dmz-toolbar-small">
		<i class="dicon dicon-bin red"/>
		<i class="dicon dicon-print yellow"/>
		<i class="dicon dicon-settings-gear"/>
		<i class="dicon dicon-print green"/>
		<i class="dicon dicon-single-01"/>
	</div>
	<br/>
	<br/>
	<div class="dmz-toolbar-large">
		<i class="dicon dicon-bin red"/>
		<i class="dicon dicon-print yellow"/>
		<i class="dicon dicon-settings-gear"/>
		<i class="dicon dicon-print green"/>
		<i class="dicon dicon-single-01"/>
	</div>
	<br/>
	<br/>
	<div class="dmz-toolbar-raised-small">
		<i class="dicon dicon-bin red"/>
		<i class="dicon dicon-print yellow"/>
		<i class="dicon dicon-settings-gear"/>
		<i class="dicon dicon-print green"/>
		<i class="dicon dicon-single-01"/>
	</div>
	<br/>
	<br/>
	<div class="dmz-toolbar-raised-large">
		<i class="dicon dicon-bin red"/>
		<i class="dicon dicon-print yellow"/>
		<i class="dicon dicon-settings-gear"/>
		<i class="dicon dicon-print green"/>
		<i class="dicon dicon-single-01"/>
	</div>
	<br/>
	<br/>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
{{/layout/master-content}}
