<div class=" page-setup container-fluid padding-100 background-color-primary">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div>
				<img src="/assets/img/setup/logo.png" alt="Documize" class="no-select no-outline margin-top-20" />
			</div>
			<div class="margin-top-150">
				<img src="/assets/img/setup/cogs.png" width="157" height="187" alt="Setup new database" class="no-select no-outline" />
			</div>
		</div>
		{{documize-setup model=model save=(action 'save')}}
	</div>
</div>
