<div class="dual-box dual-box-white">
    <div class="input-inline fixed-width-font">
        {{focus-input class="input" type="text" value=filter placeholder='#tags, keywords, "some phrase", keyword AND keyword, keyword OR keyword'}}
    </div>
    {{#link-to 'folders'}}
        <i class="material-icons icon">clear</i>
    {{/link-to}}
</div>
