<div class="container page-setup padding-100">
	<div class="row">
		<div class="col-4">
			<div>
				<img src="/assets/img/setup/logo.png" alt="Documize" class="no-select no-outline margin-top-20">
			</div>
			<div class="margin-top-150">
				<img src="/assets/img/setup/cogs.png" width="157" height="187" alt="Setup new database" class="no-select no-outline">
			</div>
		</div>
		<div class="col-8">
			{{setup/documize-setup model=model save=(action "save")}}
		</div>
	</div>
</div>
