<div class="auth-center">
	<div class="auth-box">
		<div class="logo">
			<img src="/assets/img/logo-purple.png" title="Documize" alt="Documize" class="img-fluid" />
		</div>
		<div class="login-form">
			{{forgot-password forgot=(action 'forgot')}}
		</div>
	</div>
</div>
