@mixin sticky()
{
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	z-index: 999;
	width: 100%;
}

@mixin border-radius($radius)
{
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin ease-in()
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

@mixin content-container($pad-tb: 25px, $pad-lr: 50px) {
    @include border-radius(2px);
    padding: $pad-tb $pad-lr;
    box-shadow: 0 0 0 0.75pt $color-stroke,0 0 3pt 0.75pt $color-stroke;
    background-color: $color-white;
}

@mixin card() {
	background-color: $color-card;
	box-shadow: 1px 1px 3px 0px rgba(211,211,211,1);

	&:hover {
		background-color: darken($color-card, 3%);
		color: $color-link;
	}
}
