.product-update {
	text-align: left;
	margin: 50px 0;

	> .update-summary {
		padding: 25px;
		border: 1px solid $color-orange;
		background-color: $color-off-white;
		@include border-radius(2px);

		> .caption {
			font-weight: bold;
			font-size: 1.5rem;
			color: $color-orange;
			margin-bottom: 15px;
			display: inline-block;
		}

		> .instructions {
			font-weight: normal;
			font-size: 1.3rem;
			color: $color-gray;
		}

		> .version {
			margin: 30px 0 0 20px;
			font-size: 1.3rem;
			color: $color-gray;
			font-weight: bold;
		}

		> .changes {
			margin: 10px 0 0 40px;

			> li {
				list-style-type: disc;
				padding: 5px 0;
				font-size: 1.2rem;
				color: $color-black;

				> .tag-edition {
					margin: 10px 10px 10px 10px;
					padding: 5px 10px;
					background-color: $color-gray-light;
					color: $color-primary;
					font-weight: bold;
					font-size: 0.9rem;
				}
			}
		}
	}
}

.product-about {
	text-align: center;
	margin: 30px 30px;

	> .edition {
		font-weight: normal;
		font-size: 1.5rem;
		color: $color-black;
		margin-bottom: 5px;
	}

	> .version {
		font-weight: bold;
		font-size: 1.1rem;
		color: $color-gray;
		margin-bottom: 20px;
	}

	> .dotcom {
		font-weight: bold;
		font-size: 1.2rem;
		color: $color-link;
		margin-bottom: 40px;
	}

	> .copyright {
		text-align: center;
		font-weight: normal;
		font-size: 1rem;
		color: $color-off-black;
		margin-bottom: 20px;
	}

	> .license {
		text-align: left;
		font-weight: normal;
		font-size: 1rem;
		color: $color-gray;
	}
}

.update-available-dot {
	border-radius: 10px;
    width: 10px;
    height: 10px;
    background-color: $color-orange;
    position: absolute;
    bottom: 0;
    right: 0;
}

.whats-new-dot {
	border-radius: 10px;
    width: 10px;
    height: 10px;
    background-color: $color-whats-new;
    position: absolute;
    top: 0;
    right: 0;
}

.product-news {
	text-align: left;
	margin: 0 30px;

	> h2 {
		margin: 0 0 10px 0;
		text-align: center;
		font-size: 2rem;
		color: $color-off-black;
	}

	> .news-item {
		padding: 30px 0;
		border-bottom: 1px solid $color-border;
		text-align: center;

		> .title {
			color: $color-primary;
			font-size: 1.5rem;
			font-weight: bold;
			margin-bottom: 5px;
		}

		> .date {
			color: $color-gray;
			font-size: 1rem;
			font-weight: 600;
			margin-bottom: 10px;
		}

		> .info {
			color: $color-black;
			font-size: 1.1rem;
			font-weight: normal;
			margin-top: 15px;
		}

		> .tag-edition {
			margin: 10px 10px 10px 10px;
			padding: 5px 10px;
			background-color: $color-off-white;
			color: $color-gray;
			font-weight: 700;
			font-size: 0.9rem;
			display: inline-block;
		}

		> img {
			max-width: 450px;
			max-height: 350px;
		}
	}

	> .action {
		margin: 20px 0;
		text-align: center;
		color: $color-gray;
		font-weight: 800;
		font-size: 1.3rem;
	}
}
