{{#layout/top-bar}}
{{/layout/top-bar}}

{{#layout/middle-zone}}
	{{#layout/middle-zone-content}}
		{{user/user-profile model=model save=(action "save")}}
	{{/layout/middle-zone-content}}

	{{#layout/middle-zone-sidebar}}
		<div id="sidebar" class="sidebar sidebar-center">
			<h1>{{session.user.fullname}}</h1>
			<div class="avatar-large my-3">{{session.user.initials}}</div>
		</div>
	{{/layout/middle-zone-sidebar}}
{{/layout/middle-zone}}

{{#layout/bottom-bar}}
{{/layout/bottom-bar}}
