{{toolbar/nav-bar}}

{{#toolbar/t-toolbar}}
	{{#toolbar/t-links}}
	{{/toolbar/t-links}}
	{{#toolbar/t-actions}}
	{{/toolbar/t-actions}}
{{/toolbar/t-toolbar}}

<div class="container">
	{{user-profile model=model save=(action 'save')}}
</div>
