# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# These files are text and should be normalized (convert crlf > lf)
*.hbs text eol=lf
*.js text eol=lf
*.html text eol=lf
*.go text eol=lf
*.sql text eol=lf
*.scss text eol=lf
*.js text eol=lf
*.json text eol=lf
