# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
_uploads
_diffs
_convert
.srclib-cache
.DS_Store
.idea
.vscode

# Documize build artifacts
bin/*
dist/*
embed/bindata/*
edition/static/*
gui/dist/*
gui/dist-prod/*

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Go specific
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
/plugin-libreoffice/plugin-libreoffice
/plugin-libreoffice/plugin-libreoffice-osx

# Ember specific
/gui/dist
/gui/dist-prod
/gui/tmp
/gui/bower_components
/gui/node_modules
/gui/.sass-cache
/gui/connect.lock
/gui/coverage/*
/gui/libpeerconnection.log
/gui/npm-debug.log
/gui/testem.log
node_modules

# Misc.
plugin-msword/plugin-msword
plugin-msword/plugin-msword-osx
npm-debug.log
debug
*.pem
*.crt
container.sh
make.sh
jsconfig.json
yarn-error.log
testem.log
# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
embed/bindata_assetfs.go
dmz-backup*.zip
*.conf
