.start-section {
	@extend .no-select;
	background-color: transparent;
	position: relative;
	cursor: pointer;
	font-size: 1.3rem;

	> .start-button {
		text-align: center;
		margin: 30px 0 20px 0;
		position: relative;
		color: $color-gray-light;

		> .cta {
			@include ease-in();
			font-weight: bold;
			letter-spacing: 0.22rem;

			&:hover {
				color: $color-green;
			}
		}
	}
}

.new-section-wizard {
	margin: 0;
	padding: 0;

	.new-section-caption {
		margin: 20px 0 10px 0;
		color: $color-primary;
		font-size: 1.4rem;
		font-weight: bold;
	}

	 .preset-list {
		margin: 0;
		padding: 0;

		> .item {
			@include ease-in();
			@include border-radius(3px);
			list-style: none;
			cursor: pointer;
			display: block;
			margin: 0 20px 20px 0;
			padding: 12px 0 0 20px;
			height: 60px;
			border: 1px solid $color-border;
			background-color: $color-off-white;

			&:hover {
				border-color: $color-primary;
				background-color: $color-primary-light;
			}

			.icon {
				text-align: center;
				display: inline-block;
				width: 40px;
				margin-right: 10px;

				> .img {
					text-align: center;
					display: inline-block;
					height: 30px;
					width: 30px;
				}
			}

			> .title {
				display: inline-block;
				font-size: 1.1rem;
				font-weight: 500;
				color: $color-off-black;
				letter-spacing: 0.5px;
				margin-top: 6px;
			}
		}
	}

	 .block-list {
		margin: 0;
		padding: 0;

		> .item {
			@include ease-in();
			@include border-radius(3px);
			list-style: none;
			cursor: pointer;
			display: block;
			margin: 0 20px 20px 0;
			padding: 12px 20px;
			width: 100%;
			position: relative;
			border: 1px solid $color-border;
			background-color: $color-off-white;

			&:hover {
				border-color: $color-primary;
				background-color: $color-primary-light;
			}

			> .actions {
				@include ease-in();
				position: absolute;
				top: 10px;
				right: 8px;
			}

			> .details {
				> .title {
					font-size: 1.1rem;
					font-weight: 500;
					color: $color-off-black;
					letter-spacing: 0.5px;
				}

				> .desc {
					color: $color-off-black;
					font-size: 1rem;
				}
			}
		}
	}
}
