.document-attachments {
	margin: 0 0 50px 0;
	// @include content-container();

	> h2 {
		color: $color-gray;
	}

	> .upload-document-files {
		margin: 10px 0 0 0;
		@include ease-in();

		> .dz-preview, .dz-processing {
			display: none !important;
		}
	}

	> .list {
		margin: 20px 0 0 0;
		padding: 7px 0;

		> .item {
			color: $color-off-black;
			margin: 0;
			padding: 10px 0;
			font-size: 0.9rem;
			list-style-type: none;

			&:last-of-type {
				border-bottom: none !important;
			}

			> .icon {
				margin-right: 10px;
			}

			> a {
				@extend .text-truncate;
				width: 80%;
				color: $color-gray;

				&:hover {
					color: $color-link;
				}

				> .file {
					@extend .text-truncate;
					display: inline-block;
					font-size: 0.9rem;
					width: 80%;
					vertical-align: text-top;
				}
			}

			> .action {
				float: right;
				margin-top: -2px;
				margin-right: 5px;
				@extend .cursor-pointer;
				@extend .transition-all;
				display: none;
				color: $color-gray;
			}

			&:hover {
				.action {
					display: inline-block;
				}
			}
		}
	}
}

.delete-attachment-dialog,
.delete-page-dialog {
	display: none;
}
