.view-document {
	> .document-heading {
		margin-top: 3rem;

		.doc-title {
			font-size: 2rem;
			margin: 50px 0 10px;
			font-weight: normal;
		}

		.doc-excerpt {
			font-size: 1.2rem;
			color: $color-gray;
			margin: 0 0 45px;
		}
	}

	> .document-heading-edit {
		margin-top: 5.5rem;
		margin-bottom: 3rem;
	}

	> .document-customfields {
		margin-bottom: 4rem;

		.heading {
			font-size: 1.1rem;
			font-weight: bold;
			color: $color-gray;
			text-align: left;
		}

		.value {
			font-size: 1.1rem;
			font-weight: normal;
			color: $color-black;
			text-align: left;
		}
	}
}

.document-category {
	display: inline-block;
	margin: 0 0 0 30px;

	> .regular-button {
		margin-right: 10px;
	}

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}
}

.document-category-dialog {
	height: 200px;
	overflow-y: auto;
	margin: 0;
	padding: 0;
}

.document-tags {
	margin: 20px 0 0 0;

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}

	> .regular-button {
		margin-right: 10px;
		text-transform: lowercase;
	}

	> .none {
		color: $color-gray;
		font-size: 0.9rem;
	}
}
