.document-toc {
    @include border-radius(3px);
	margin: 20px 0;
    padding: 10px 20px;
    background-color: $color-off-white;
    border: 1px solid $color-border;
    display: inline-block;
    position: fixed;
    left: 20px;
    z-index: 777;

    > .title {
        color: $color-off-black;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
    }

    > .toc-controls {
        margin: 0;
        text-align: center;
        
        > .disabled {
            cursor: not-allowed !important;

            > .material-icons {
                color: $color-gray-light;
            }
        }
    }

    > .index-list {
        padding: 0;
        list-style: none;
        font-size: 0.9rem;
        overflow-x: hidden;
        list-style-type: none;
        margin: 20px 0 0;

        .item {
            @extend .no-select;
            padding: 4px 0;
            text-overflow: ellipsis;
            word-wrap: break-word;
            white-space: nowrap;
            overflow: hidden;
            
            > .link {
                color: $color-dark;
                font-weight: bold;
                
                &:hover {
                    color: $color-link;
                }
            }

            > .selected {
                color: $color-link;
                // font-weight: bold;
            }
        }
    }
}



