.document-sidebar-view-index {
	margin: 0;

	>.structure {
		> .toc-controls {
			margin: 0;
			color: $color-gray;

			> .round-button-mono {
				> .material-icons {
					color: $color-link;
				}
			}

			> .disabled {
				cursor: not-allowed !important;
				color: $color-stroke;
				border-color: $color-stroke;

				> .material-icons {
					color: $color-stroke;
				}
			}
		}

		> .index-list {
			padding: 0;
			list-style: none;
			font-size: 13px;
			overflow-x: hidden;
			list-style-type: none;
			margin: 20px 0 0;

			.item {
				padding: 4px 0;
				text-overflow: ellipsis;
				word-wrap: break-word;
				white-space: nowrap;
				overflow: hidden;
				@extend .no-select;

				> .link {
					color: $color-off-black;

					&:hover {
						color: $color-link;
					}
				}

				> .selected {
					color: $color-link;
					font-weight: bold;
				}
			}
		}
	}
}



.document-sidebar-toolbar {
	margin: 10px 0 0 0;
    padding: 10px 0;
    text-align: center;
	// background-color: $color-sidebar-toolbar;

	> .round-button-mono {
		background-color: $color-white;
		border-color: $color-sidebar-border;

		> .material-icons {
			color: $color-gray;
			@include ease-in();
		}

		&:hover {
			> .material-icons {
				color: $color-link;
			}
		}
	}

	> .selected {
		background-color: $color-primary;
		border-color: $color-primary;

		> .material-icons {
			color: $color-off-white;
			@include ease-in();
		}

		&:hover {
			> .material-icons {
				color: $color-white;
			}
		}
	}
}
