.document-structure {
	margin: 0 0 0 0;

	> .page-header {
		margin: 0 0 0.7rem 0;

		> .page-number {
			color: $color-gray;
			background-color: $color-gray-light2;
			padding: 0.2rem 1rem;
			font-size: 1.8rem;
			margin: 0 1.5rem 0 0;
			font-weight: normal;
			text-align: center;
			display: inline-block;
		}

		> .page-title {
			display: inline-block;
			font-size: 1.8rem;
			font-weight: bold;
			margin: 16px 0;
			color: $color-dark;
		}
	}

	> .protection-table {
		> tbody, > thead {
			> tr, > th {
				> td, > th {
					margin: 0;
					padding: 10px 15px;
					text-align: center;
				}

				> td:first-child {
					text-align: left;
				}
			}
		}

		> thead {
			> tr {
				> th {
					background-color: $color-off-white;
					color: $color-gray;
				}

				> th:first-child {
					background-color: $color-white !important;
					border: none !important;
				}
			}
		}
	}
}

.section-divider {
	margin-top: 70px;
}