.document-toc {
    @include border-radius(3px);
    @include ease-in();
    margin: 0;
    padding: 0 20px 20px 20px;
    background-color: $color-off-white;
    border: 1px solid $color-border;
    overflow: scroll;
    box-sizing: border-box; // ensures width/height properties (and min/max properties) includes content, padding and border
    z-index: 777;
    
    > .header {
        @include sticky();
        flex-direction: column;
        top: 0;
        padding-top: 20px;
        margin: 0;
        background-color: $color-off-white;

        > .title {
            color: $color-gray;
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 20px;
            text-align: center;
        }

        > .toc-controls {
            margin: 0 0 0 0;
            text-align: center;
            
            > .disabled {
                cursor: not-allowed !important;

                > .material-icons {
                    color: $color-gray-light;
                }
            }
        }
    }

    > .index-list {
        padding: 0;
        list-style: none;
        font-size: 0.9rem;
        overflow-x: hidden;
        list-style-type: none;
        margin: 0 0 0 0;

        .item {
            @extend .no-select;
            padding: 4px 0;
            text-overflow: ellipsis;
            word-wrap: break-word;
            white-space: nowrap;
            overflow: hidden;
            
            > .link {
                color: $color-dark;
                font-weight: bold;
                
                &:hover {
                    color: $color-link;
                }

                > .numbering {
                    color: $color-gray;
                    font-weight: bold;
                    display: inline-block;
                    margin-right: 10px;
                }
            }

            > .selected {
                color: $color-link;
            }
        }
    }
}

.document-toc-desktop {
	margin: 30px 0 30px 0;
    display: inline-block;
    position: fixed;
    top: 100px;
    right: 30px;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.document-toc-small {
    display: inline-block;
    position: relative !important;
    margin: 0;
    width: 100% !important;
    height: 500px;
    transform: none !important;
}
