.zone-document-history {
	margin-left: 60px;
	padding: 20px 60px;
	z-index: 777;
    position: relative;

	.diff-zone {
		@extend .transition-all;
		@include border-radius(2px);
		@include ease-in();
		position: relative;
		padding: 25px 50px;
		box-shadow: 0 0 0 0.75pt $color-stroke,0 0 3pt 0.75pt $color-stroke;
		background-color: $color-white;

		> .canvas {
			padding: 0;
		}
	}

	.revision-picker {
		width: 300px;
		float: left;
		margin-top: 10px;
		display: inline-block;
	}
}
