.section-editor {
	> .edit-title {
		margin: 16px 0;
	}

	> .canvas {
		// margin: 34px 0 0 0;
		padding: 30px 20px;
		box-shadow: 0 0 0 0.75pt $color-stroke,0 0 3pt 0.75pt $color-stroke;
	}
}

.content-linker-modal-container {
	height: 500px;
	overflow-y: auto;

	.icon {
		margin-right: 5px;
		height: 15px;
		width: 15px;
	}
}

.block-editor {
	margin-top: 3rem;
}

