.document-space {
	display: inline-block;

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}
}

.document-category {
	display: inline-block;
	margin: 0 0 0 30px;

	> .regular-button {
		margin-right: 10px;
	}

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}
}

.document-category-dialog {
	height: 200px;
	overflow-y: auto;
	margin: 0;
	padding: 0;

	// // Medium devices (tablets, 768px and up)
	// @media (min-width: 768px) { height: 300px; }

	// // Large devices (desktops, 992px and up)
	// @media (min-width: 992px) { height: 400px; }

	// // Extra large devices (large desktops, 1200px and up)
	// @media (min-width: 1200px) { height: 500px; }
}

.document-tags {
	margin: 20px 0 0 0;

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}

	> .regular-button {
		margin-right: 10px;
		text-transform: lowercase;
	}

	> .none {
		color: $color-gray;
		font-size: 0.9rem;
	}
}
