.document-space {
	display: inline-block;

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}
}

.document-category {
	display: inline-block;
	margin: 0 0 0 30px;

	> .regular-button {
		margin-right: 10px;
	}

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}
}

.document-tags {
	margin: 20px 0 0 0;

	> .caption {
		text-transform: uppercase;
		color: $color-gray;
		font-weight: bold;
		font-size: 1.0rem;
		margin: 0 0 10px 0;
	}

	> .regular-button {
		margin-right: 10px;
		text-transform: lowercase;
	}

	> .none {
		color: $color-gray;
		font-size: 0.9rem;
	}
}
