.document-view {
	margin: 0 0 0 0;

	.is-a-page {
		@include ease-in();
		overflow-x: auto;

		&:hover {
			.page-title {
				> .page-toolbar {
					opacity: 1;
				}
			}
		}

		.page-title {
			> .page-toolbar {
				opacity: 0;
			}
		}
	}

	.is-a-tab {
		@include content-container();
		@include ease-in();

		.icon {
			text-align: center;
			display: inline-block;
			width: 40px;
			vertical-align: bottom;
			margin-right: 5px;

			> .img {
				text-align: center;
				display: inline-block;
				height: 30px;
				width: 30px;
			}
		}

		> .title {
			font-size: 1.3rem;
			font-weight: normal;
			color: $color-off-black;
			letter-spacing: 0.5px;
			margin-top: 8px;
		}

		&:hover {
			.page-title {
				> .page-toolbar {
					opacity: 1;
				}
			}
		}

		.page-title {
			> .page-toolbar {
				opacity: 0;
			}
		}
	}

	.tab-min {
		padding: 0px 50px;
		height: 65px;
		overflow: hidden;
		cursor: default;

		.page-title {
			> .page-toolbar {
				opacity: 1;
			}
		}
	}

	.tab-max {
		padding: 25px 50px;
		height: auto;
		overflow: auto;
		cursor: normal;
	}

	.section-divider {
		height: 60px;
		background-color: transparent;
	}
}

// .document-view-unified {
// 	margin: 0 0 50px 0;
// 	@include content-container();
// 	@include ease-in();
// 	@extend .transition-all;

// 	.is-a-page, .is-a-tab {
// 		padding: 0 !important;
// 		box-shadow: none !important;
// 		background-color: transparent !important;
// 		@include border-radius(0px);
// 	}

// 	.tab-min, .tab-max {
// 		padding: 0 !important;
// 	}

// 	.start-section {
// 		height: 50px !important;
// 	}
// }

// .document-toolbar {
// 	> .round-button-mono {
// 		background-color: $color-white;
// 		border: 1px solid $color-gray;

// 		> .material-icons {
// 			@include ease-in();
// 			color: $color-gray;
// 		}
// 	}
// }
