.view-activity {
	> .items {
		list-style-type: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;

		> .item {
			margin: 0;
			padding: 15px 0;
			width: 100%;

			> .avatar-box {
				display: inline-block;
				cursor: default;
				position: relative;
				overflow: hidden;
				width: 35px;
				height: 35px;
				line-height: 34px;
				padding: 0;
				border-radius: 50%;
				text-align: center;
				font-weight: bold;
				background-color: $color-gray;
				color: $color-white;
				vertical-align: middle;
				
				margin: 0 20px 0 0;
			}

			> .activity {
				display: inline-block;

				> .name {
					display: inline-block;
					font-size: 1.2rem;
					color: $color-off-black;
					font-weight: bold;
				}
	
				> .detail {
					display: inline-block;
					font-size: 1rem;
					color: $color-gray;
	
					.viewed {
						color: $color-goldy;
					}
	
					.added {
						color: $color-green;
					}
	
					.changed {
						color: $color-blue;
					}
	
					.deleted {
						color: $color-red;
					}
				}
			}
		}
	}
}
