{{layout/logo-heading
	title=(localize 'section_drawio')
	desc=(localize 'section_drawio_explain')
	icon=constants.Icon.Integrations}}

{{#section/base-editor document=document folder=folder page=page busy=waiting isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	<div class="section-flowchart-diagram">
		<iframe id={{editorId}}
			src={{serviceUrl}}
			style="frameborder:0; border: 0; width: 100%; height: 1000px;">
		</iframe>
	</div>
{{/section/base-editor}}
