{{layout/logo-heading
	title="Draw.io"
	desc="For making flowcharts, process diagrams, org charts, UML, ER diagrams, network diagrams and much more (https://about.draw.io)"
	icon=constants.Icon.Integrations}}

{{#section/base-editor document=document folder=folder page=page busy=waiting isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	<div class="section-flowchart-diagram">
		<iframe id={{editorId}}
			src="https://www.draw.io/?embed=1&ui=Kennedy&spin=0&proto=json&splash=0"
			style="frameborder:0; border: 0; width: 100%; height: 1000px;">
		</iframe>
	</div>
{{/section/base-editor}}
