.section-github-editor {
	.github-repo {
		width: 100%;
		padding: 10px;
		white-space: nowrap;
		overflow: auto
	}

	.github-repo-title {
		font-weight: bold;
		color: #fff;
		font-size: 16px;
	}

	.github-list {
		margin: 10px 10px 0 0;
	}

	.github-list-title {
		font-weight: bold;
		color: #4c4c4c;
		font-size: 14px;
		margin: 5px;
	}

	.github-list-checkbox {
		vertical-align: text-bottom;
	}

	.github-issue-label {
		font-size: 11px;
		color: white;
		padding: 0px 4px;
		margin-right: 5px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
		display: inline-block;
		line-height: 22px;
		}
}

.section-github-render {

	h3 {
		margin-bottom: 0px;
	}

	h6 {
		font-size: 18px;
		margin: 0;
		display: inline;
	}

	h6 a {
		color: inherit;
	}

	p {
		margin-top: 5px;
	}

	.github-board {
		margin-top: 30px;
	}

	table {
		margin-left: 0px!important;
		border: none!important;
	}

	thead.github th {
		background-color: #f8f8f8;
		text-align: left;
		padding: 4px 30px;
		font-family: "open_sanssemibold";
		border-bottom: 1px solid #e1e1e1 !important;
	}

	tbody.github td {
		border: none !important;
		padding: 8px 30px !important;
	}

	span.label-private {
		font-weight: normal;
		color: #4c4a42;
		background-color: #ffefc6;
		padding: 3px 4px;
		font-size: 12px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
		line-height: 1;
		margin-left: 10px;
	}

	table.label-table {
		margin-top:30px !important;
	}

	table.milestone-table {
		progress[value] {
			background-color: #eeeeee;
			border-radius: 3px;
			height: 15px;
			width: 50%;
		}
	}

	.github-issue-label {
		font-size: 11px;
		color: white;
		padding: 0px 4px;
		margin-right: 5px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
		display: inline-block;
		line-height: 22px;
		}

	.date-meta {
		color: #767676;
		font-size: 13px;
	}
	.dataid {
		color: #767676;
		font-size: 13px;
	}

	.repo {
		font-size: 16px;
	}

	.branch {
		font-family: "open_sanssemibold";
	}

	.milestone {
		font-size: 15px;
	}

	.github-avatar {
		border-radius: 4px;
	}

}
