.section-github-editor {
	.github-repo {
		width: 100%;
		padding: 10px;
		white-space: nowrap;
		overflow: auto
	}

	.github-repo-title {
		font-weight: bold;
		color: #fff;
		font-size: 16px;
	}

	.github-list {
		margin: 10px 10px 0 0;
	}

	.github-list-title {
		font-weight: bold;
		color: #4c4c4c;
		font-size: 14px;
		margin: 5px;
	}

	.github-list-checkbox {
		vertical-align: text-bottom;
	}

	.github-issue-label {
		font-size: 11px;
		color: white;
		padding: 0px 4px;
		margin-right: 5px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
		display: inline-block;
		line-height: 22px;
		}
}

.section-github-render {

	a:hover {
		text-decoration: underline;
	}

	.github-table {
		margin: 0 !important;
		border: none !important;
		line-height: 30px;

		td {
			border: none !important;
			vertical-align: top;
		}
	}

	.heading {
		font-size: 1.6rem;
		margin: 30px 0 0 0;
	}

	.github-table thead tr th {
		padding: 15px 0;
		border-bottom: 1px solid #e1e1e1;
		text-transform: uppercase;
		font-size: 14px;
		text-align: left;

		span {
			color:#838d94;
		}

	}

	.github-table tbody tr td {
		border: none!important;
		padding-left: 20px!important;
		padding-bottom: 0!important;
	}

	span.dataid {
		color:#838d94;
	}

	.issue-label {
		color:white;
        font-size: 11px;
        padding: 4px 6px;
        border-radius: 4px;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
        margin-left: 10px;
	}

	progress[value] {
		background-color: $color-off-white;
		border-radius: 3px;
		height: 15px;
		width: 150px;
	}

	span.issue-state {
		float: left;
    	margin-right: 10px;
    	margin-top: 3px;
	}

	img.github-avatar {
		width: 24px;
		border-radius: 4px;
		margin-right: 10px;
	}
}
