.section-github-editor {
	.github-repo {
		width: 100%;
		padding: 10px;
		white-space: nowrap;
		overflow: auto
	}

	.github-repo-title {
		font-weight: bold;
		color: #fff;
		font-size: 16px;
	}

	.github-list {
		margin: 10px 10px 0 0;
	}

	.github-list-title {
		font-weight: bold;
		color: #4c4c4c;
		font-size: 14px;
		margin: 5px;
	}

	.github-list-checkbox {
		vertical-align: text-bottom;
	}
}

.section-github-render {
    .github-board {
        width: 100%;
        white-space: nowrap;
        color: #767676;

        > .github-group-title {
            margin: 10px 0;
            font-size: 14px;
            color: #767676;
        }

        > .github-list {
            margin: 10px 20px 0 20px !important;
            padding: 0;
            color: #767676;

            > .github-commit-item {
                display: block;
                width: 95%;
                font-size: 12px;
                color: #999;
                padding: 10px;
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
                border-top: 1px solid #eee;

                &:first-of-type {
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }

                &:last-of-type {
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                    border-bottom: 1px solid #eee;
                }

                &:hover {
                    background-color: #f7fbfc;
                    cursor: pointer;
                }

                > .link {
                    color: #999;

                    > .github-avatar {
                        float: left;
                        margin-right: 15px;
                        margin-top: 2px;
                    }

										> .issue-avatar {
												float: left;
												margin-right: 15px;
												margin-top: 10px;
										}

                    > .github-commit-body {
                        margin: 0px;
                        padding: 0px;

                        > .github-commit-title {
                            color: #4e575b;
                            text-decoration: none;
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 22px;
                            margin: 0;
                            padding: 0px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 90%;

														.github-issue-label {
															font-size: 11px;
															color: white;
															padding: 0px 4px;
															margin-right: 5px;
															border-radius: 2px;
														  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
															display: inline-block;
														}

														.label-name {
															font-size: 16px;
															font-family: "open_sanssemibold";
															margin: 0 10px 0 0;
														}
                        }

                        > .github-commit-meta {
                            font-weight: normal;
                            color: #767676;
                            font-size: 12px;
                            line-height: 22px;
                            margin: 0px;
                            padding: 0px;
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}
