.section-github-editor {
	.github-repo {
		width: 100%;
		padding: 10px;
		white-space: nowrap;
		overflow: auto
	}

	.github-repo-title {
		font-weight: bold;
		color: #fff;
		font-size: 16px;
	}

	.github-list {
		margin: 10px 10px 0 0;
	}

	.github-list-title {
		font-weight: bold;
		color: #4c4c4c;
		font-size: 14px;
		margin: 5px;
	}

	.github-list-checkbox {
		vertical-align: text-bottom;
	}

	.github-issue-label {
		font-size: 11px;
		color: white;
		padding: 0px 4px;
		margin-right: 5px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
		display: inline-block;
		line-height: 22px;
		}
}

.section-github-render {
	.github-table {
		margin: 0 !important;
		border: none !important;
		line-height: 30px;

		td {
			border: none !important;
			vertical-align: top;
		}
	}

	.heading {
		font-size: 1.6rem;
		margin: 30px 0 0 0;
	}

	.issue-label {
		font-size: 11px;
		color: $color-white;
		padding: 0px 8px;
		margin-right: 5px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
		display: inline-block;
		line-height: 22px;
	}

	progress[value] {
		background-color: $color-off-white;
		border-radius: 3px;
		height: 15px;
		width: 150px;
	}

	.progress-meta {
		color: $color-gray;
		font-size: 1rem;
		font-family: "arial";
	}

	.contributor-name {
		line-height: 15px;
	}

	.milestone-name, .issue-name, .contributor-name {
		font-size: 1.2rem;
	}

	.milestone-symbol {
		padding-top: 3px;
	}

	.issue-symbol {
		padding-top: 3px;
	}

	.contributor-meta {
		line-height: 30px;
	}

	.milestone-meta, .issue-meta, .contributor-meta {
		color: $color-gray;
		font-size: 1rem;
	}

	.github-avatar {
		border-radius: 4px;
		width: 36px;
		height: 36px;
	}

	.branch {
		font-family: "open_sanssemibold";
	}
}
