#section-markdown-editor {
	width: 100%;
	resize: none;
	padding: 10px;
	background-color: white;
}

#section-markdown-preview {
	width: 100%;
	padding: 10px;
	background-color: white;
	overflow: auto;
}
