.section-trello-board {
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow: auto
}


.section-trello-board-title {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.section-trello-list {
    background-color: #e2e4e6;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 10px 0 0;
    max-width: 300px;
}

.section-trello-list-title {
    font-weight: bold;
    color: #4c4c4c;
    font-size: 14px;
    margin: 5px;
}

.section-trello-list-checkbox {
    vertical-align: text-bottom;
}


.section-trello-render {

    table.trello-table {
        border:none!important;
        margin-left: 20px !important;
        margin-bottom: 20px !important;
    }

    table.trello-table td {
        border:none!important;
        padding: 20px 20px 0 0  !important;
        vertical-align: top;
    }

    tbody.board-stats td {
        padding-right: 40px!important;
    }

    span.trello-label {
        padding: 4px 10px;
        color: white;
        border-radius: 3px;
        text-shadow: 0 0 5px rgba(0,0,0,.2),0 0 2px #000;
    }

    span.trello-board {
        color: white;
        padding: 20px 20px;
        width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        border-radius: 4px;
        margin-right: 20px;
    }

    .trello-avatar {
        border-radius: 3px;
        margin-right: 10px;
    }

    h6 {
        font-size: 18px;
        margin: 0;
    }

    p.board-stats {
        font-size: 18px;
    }

    span.stat-number {
        font-family: "open_sanslight";
        font-size: 50px;
        margin-right: 15px;
    }

	> .trello-board {
		width: 100%;
		max-height: 600px;
		padding: 10px;
		white-space: nowrap;
		overflow: auto;

        > a {
            > .trello-board-title {
                font-weight: bold;
                color: #fff;
                font-size: 16px;
            }
        }

        > .trello-list {
            background-color: #e2e4e6;
            padding: 10px;
            border-radius: 3px;
            margin: 10px 10px 0 0;
            width: 300px;
            max-height: 500px;
            display: inline-block;
            white-space: nowrap;
            overflow: auto;
            vertical-align: top;

            > .trello-list-title {
                font-weight: bold;
                color: #4c4c4c;
                font-size: 14px;
                margin: 0 10px 10px 0;
            }

            > a {
                > .trello-card {
                    color: #4c4c4c;
                    border-bottom: 1px solid #CDD2D4;
                    background-color: #fff;
                    border-radius: 3px;
                    padding: 7px 7px;
                    margin: 5px 0;
                    font-size: 14px;
                    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
                    line-height: 18px;
                    overflow: hidden;
                    word-wrap: break-word;
                    white-space: normal;
                    cursor: pointer;
                    vertical-align: top;
                }
            }
        }
	}
}
