.section-trello-editor {
    .section-trello-board {
        width: 100%;
        padding: 10px;
        white-space: nowrap;
        overflow: auto
    }

    .section-trello-board-title {
        font-weight: bold;
        color: #fff;
        font-size: 16px;
    }

    .section-trello-list {
        background-color: #e2e4e6;
        padding: 10px;
        border-radius: 3px;
        margin: 10px 10px 0 0;
        max-width: 300px;
    }

    .section-trello-list-title {
        font-weight: bold;
        color: #4c4c4c;
        font-size: 14px;
        margin: 5px;
    }

    .section-trello-list-checkbox {
        vertical-align: text-bottom;
    }

    .trello-list {
        margin-bottom: 10px;

        i {
            vertical-align: middle;
        }

        .trello-label {
            font-size: 11px;
            color: #fff;
            padding: 0 8px;
            margin-right: 5px;
            border-radius: 2px;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.12);
            display: inline-block;
            line-height: 22px;
        }
    }

}

.section-trello-render {

    a:hover {
        text-decoration: underline;
    }

    .heading {
        padding: 20px;
        color: white;
        border-radius: 5px;

        a {
            color: white!important;
        }

        h3 {
            font-size: 22px;
            margin: 0;
        }

        p {
            font-size: 15px;
            line-height: 0;
        }
    }

    table.trello-single-board {
        border: none!important;
        text-align: left;
        margin:0!important;
    }

    .trello-single-board thead tr th {
        padding: 15px 0;
        border-bottom: 1px solid #e1e1e1;
        text-transform: uppercase;
        font-size: 14px;
    }

    .trello-single-board tbody tr td {
        border: none!important;
        padding-left: 20px!important;
        padding-bottom: 0!important;
    }

}
