<div class="meta-viewers">
    <ul class="items">
        {{#each meta.viewers as |viewer|}}
            <li class="item">
                <div class="avatar-box">
                    <div class="avatar">{{user-initials viewer.firstname viewer.lastname}}</div>
                </div>
                <div class="detail">
                    <div class="name">{{viewer.firstname}} {{viewer.lastname}}</div>
                    <div class="date">{{time-ago viewer.created}}</div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
