<div class="form-bordered">
	<div class="form-header">
		<div class="title">Meta Information</div>
		<div class="tip">Name, owner, excerpt</div>
	</div>
	<div class="input-control">
		<label>Owner</label>
		<div class="tip">Set the document owner</div>
		{{ui-select id="document-owner"
			content=users
			action=(action (mut owner))
			optionValuePath="id"
			optionLabelPath="fullname"
			selection=owner}}
	</div>
	<div class="input-control">
		<label>Name</label>
		<div class="tip">Short title for this document</div>
		{{focus-input type='text' id="document-name" value=document.name}}
	</div>
	<div class="input-control">
		<label>Excerpt</label>
		<div class="tip">Provide short summary of the document (max. 250)</div>
		{{textarea value=document.excerpt rows="5" id="meta-excerpt"}}
	</div>
	<div class="regular-button button-blue" {{ action 'onSave' }}>Save</div>
</div>
