<div class="document-view">
	{{#each pages key="id" as |page index|}}
		{{#document/document-page document=document folder=folder page=page isEditor=isEditor onSavePage=(action 'onSavePage')
			onAddBlock=(action 'onAddBlock') onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onDeletePage')}}
		{{/document/document-page}}
	{{/each}}
</div>

{{#if noSections}}
	<div class="empty-state-document">
		<img src="/assets/img/empty-state-document.gif" />
	</div>
{{/if}}
