<div class="document-container">
	<div class="sidebar hidden-xs hidden-sm">
		{{#if isEditor}}
			<div class="margin-bottom-20 text-center">
				{{#link-to 'document.wizard' folder.id folder.slug document.id document.slug}}
					<div class="regular-button button-green" id="add-section-button">
						<i class="material-icons">add</i>
						<div class="name">section</div>
					</div>
				{{/link-to}}
			</div>
		{{/if}}
		{{document/document-sidebar-toc document=model folder=folder pages=pages page=page isEditor=isEditor
			changePageSequence=(action 'onPageSequenceChange') changePageLevel=(action 'onPageLevelChange')
			gotoPage=(action 'gotoPage')}}
	</div>
</div>
