<div class="document-container">
	<div class="sidebar">
		{{document/document-sidebar-toc document=model folder=folder pages=pages page=page isEditor=isEditor
			changePageSequence=(action 'onPageSequenceChange') changePageLevel=(action 'onPageLevelChange')
			gotoPage=(action 'gotoPage')}}
	</div>
</div>
