<div class="content-linker">
	<form>
		<div class="input-control">
			<label>Insert Link</label>
			<div class="tip">Give the link a clickable name</div>
			{{focus-input type="input" value=linkName}}
		</div>
		{{#if hasSections}}
			<div class="input-control">
				{{ui-select id="content-linker-section-list" content=candidates.pages action=(action (mut selection)) prompt="Link to existing section" optionValuePath="id" optionLabelPath="title" }}
			</div>
		{{/if}}
		{{#if hasAttachments}}
			<div class="input-control">
				{{ui-select id="content-linker-attachment-list" content=candidates.attachments action=(action (mut selection)) prompt="Link to file attachment" optionValuePath="id" optionLabelPath="title" }}
			</div>
		{{/if}}
		<div class="regular-button button-blue pull-right" {{ action 'onInsertLink' }}>Insert</div>
		<div class="clearfix" />
	</form>
</div>
