<div class="row no-gutters">
	<div class="col">
		<div class="d-flex justify-content-start">
			{{yield}}
		</div>
	</div>
	<div class="col">
		<div class="footer d-flex justify-content-end">
			<a href="https://documize.com?ref=af">Documize {{appMeta.version}}</a>
		</div>
	</div>
</div>
