<div class="logo-heading">
	<div class="image">
		<i class="dicon {{icon}}" />
	</div>
	<div class="text">
		{{layout/page-heading title=title}}
		{{layout/page-desc desc=desc}}
	</div>
</div>
{{ui/ui-spacer size=300}}