{{#link-to 'application' }}
	<div class="regular-button button-white back-to-home-button">
		<i class="material-icons">arrow_back</i>
		<div class="name back-to-home-name">home</div>
	</div>
{{/link-to}}
