{{#link-to 'folders.folder' folder.id folder.slug}}
	<div class="regular-button button-white space-button">
		<i class="material-icons">arrow_back</i>
		<div class="name space-name">{{folder.name}}</div>
	</div>
{{/link-to}}
