<div class="login-form">
    <form {{action 'reset' on="submit"}}>
        <div class="input-control">
            <label>New Password</label>
            <div class="tip">Choose a strong password</div>
            {{focus-input type="password" value=password id="newPassword" class=passwordError}}
        </div>
        <div class="input-control">
            <label>Confirm Password</label>
            <div class="tip">Please type your new password again</div>
            {{input type="password" value=passwordConfirm id="passwordConfirm" class=confirmEmpty}}
        </div>
        <div class="clearfix" />
        <div class="margin-top-10 margin-bottom-20">
            <button type="submit" class="regular-button button-blue">Reset</button>
            <span class="{{unless mustMatch "hide"}} color-red margin-left-20">Passwords must match</span>
        </div>
    </form>
</div>
