.space-button {
	width: 100%;
}

.space-name {
	max-width: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.back-to-home-button {
	width: 100%;
}

.back-to-home-name {
	max-width: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
