.explainer {
	text-align: center;

	> .empty-state {
		margin: 30px 0;
		font-size: 1.2rem;
		color: $color-gray;
	}

	> .normal-state {
		margin: 10px;
		font-size: 1.2rem;
		color: $color-gray;
	}
}
