.explainer {
	text-align: center;

	> .empty-state {
		margin: 30px 0;
		font-size: 2rem;
		color: $color-gray;
		font-family: 'open_sanslight';
	}

	> .normal-state {
		margin: 10px;
		font-size: 2rem;
		color: $color-gray;
		font-family: 'open_sanslight';
	}
}
