.zone-navigation {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 60px;
	min-height: 100%;
	height: 100%;
	background-color: $color-primary;
	z-index: 999;
	overflow-x: hidden;

	> .bottom-zone,
	> .top-zone {
		position: absolute;
		padding: 0;
		width: 100%;

		> li {
			cursor: pointer;
			margin: 0;
			padding: 20px 0;
			width: 100%;
			text-align: center;
		}

		.selected {
			// background-color: $color-link;

			> a {
				> .material-icons {
					opacity: 1;
					color: $color-white;
				}
			}
		}
	}

	> .top-zone {
		top: 0;
		// padding-top: 10px;
	}

	> .bottom-zone {
		bottom: 0;
		padding-bottom: 10px;
	}

	.filled-tool {
		position: relative;
		overflow: hidden;
		width: 35px;
		height: 35px;
		line-height: 35px;
		margin: 0 0 0 12px;
		padding: 0;
		border-radius: 50%;
		transition: 0.3s;
		cursor: pointer;
		vertical-align: middle;
		background-color: $color-white;
		text-align: center;

		&:hover {
			@extend .z-depth-1;
		}

		&:before {
			border-radius: 0;
		}

		> .material-icons {
			color: $color-primary;
			text-align: center;
			font-size: 1.4em;
		}

		> .initials {
			color: $color-primary;
			text-align: center;
			font-size: 1rem;
			font-style: normal;
			line-height: 2.6rem;
			font-family: open_sansregular;
		}
	}

	.icon-tool {
		position: relative;
		vertical-align: middle;
		text-align: center;
		font-size: 2rem;
		@include ease-in;
		opacity: 0.5;
		color: $color-white;

		&:hover {
			opacity: 1;
			color: $color-white;
		}
	}

	.pinned-zone {
		position: relative;
		top: 220px;
		padding: 0;
		margin: 0;
		width: 80px;
		overflow-x: hidden;
		overflow-y: scroll;

		> .pin {
			cursor: pointer;
			margin: 20px 0 20px 9px;
		    padding: 11px 3px;
			height: 40px;
			width: 40px;
			text-align: center;
			overflow: hidden;
			@include ease-in();
			@include border-radius(3px);
			font-family: $font-semibold;
			font-size: 12px;
			letter-spacing: -1px;
			background-color: $color-off-white;
			color: $color-primary;

			> .key {
				width: 30px;
				text-align: center;
				display: inline-block;
				overflow: hidden;
			}

			&:hover {
				background-color: $color-link;
				color: $color-off-white;
			}
		}

		> .sortable-ghost {
			background-color: $color-gray;
			color: $color-off-white;
		}
	}
}

.zone-sidebar {
	background-color: $color-sidebar;
	height: 100%;
	min-height: 100%;
	padding: 30px 40px 0;
	position: fixed;
	margin: 0;
	z-index: 888;
	margin-left: 60px;

	.zone-sidebar-title {
		color: $color-primary;
		font-size: 1.3rem;
		font-weight: bold;
		margin-bottom: 10px;

		 > .material-icons,
		> a > .material-icons {
			font-size: 1rem;
			vertical-align: middle;
		}
	}

	.zone-sidebar-info {
		color: $color-gray;
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 30px;
	}
}

.zone-content {
	min-height: 500px; //ensure dropdowns render in viewport
	padding: 30px 40px 30px 110px;
	z-index: 777;
}
