.page-container {
	min-height: 500px; //ensure dropdowns render in viewport
}

.copyright {
	margin-top: 50px;
	text-align: center;

	> a {
		font-size: 0.8rem;
		color: $color-gray;
	}
}

.zone-navigation {
    background-color: $color-primary;
    color: $color-white;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
	padding: 15px 40px 15px 40px;

    .content {

        > .title {
            padding-left: 15px;
            font-size: 1rem;
            display: inline-block;
            vertical-align: middle;
			color: $color-white;
			text-decoration: none;
        }

        > .name {
            padding-right: 15px;
            font-size: 1rem;
            display: inline-block;
            vertical-align: middle;
        }

		> .login {
			padding: 15px 0 0 0;
            font-size: 1rem;
            display: inline-block;

			> a {
				color: $color-white;
				text-decoration: none;
			}
		}

		> .search {
			padding-left: 15px;
            font-size: 1rem;
            display: inline-block;
			vertical-align: middle;
			margin-top: 5px;

			> a {
				color: $color-white;
				text-decoration: none;

				> .material-icons {
					font-size: 1.5rem;
				}
			}
		}
    }

    .header-button {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;
        vertical-align: middle;
        background-color: $color-white;
        text-align: center;

        &:hover {
            @extend .z-depth-1;
        }

        > .material-icons {
            color: $color-primary;
            text-align: center;
            font-size: 1.4em;
        }

        > .initials {
            color: $color-primary;
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            line-height: 2.6rem;
            font-family: open_sansregular;
        }

        &:before {
            border-radius: 0;
        }
    }
}

.zone-header {
	background-color: $color-header;
	padding: 0 40px 0 40px;

	> .info {
		padding: 20px 0 20px 0;

		> .title {
			color: $color-off-black;
			font-size: 1.2rem;
		}

		> .message {
			color: $color-gray;
			font-size: 1rem;
			margin-top: 10px;
		}
	}

	> .actions {
		padding: 20px 0 20px 0;
	}
}

.zone-sidebar {
	height:100%;
	min-height:100%;
	padding: 0 0 0 40px;
	border-right: 1px solid $color-border;
	float: left;
}

.zone-content {
	padding: 0 40px 0 40px;
	float: left;
}
