.page-search {
	margin: 30px 40px;

	.search-results {
		margin-top: 50px;

	    .heading {
	        font-size: 1.2rem;
	        color: $color-blue;
	    }

	    > .list {
	        margin-top: 20px;
			list-style: none;

	        > .item {
				//width: 400px;
				//float: left;
	            cursor: pointer;
				margin: 0 30px 30px 0;

                > .link {
                    text-decoration: none;
                    color: $color-off-black;

					&:hover {
						color: $color-link;
					}

                    > .title {
                        display: inline-block;
						font-size: 1.2rem;
                    }

					> .folder {
                        display: inline-block;
                        font-size: 0.8rem;
                        color: $color-gray;
						margin-left: 15px;
                    }

                    > .excerpt {
						margin-top: 1rem;
                        font-size: 0.9rem;
						margin-left: 20px;
                    }

					> .chips {
						margin-top: 1rem;
						margin-left: 20px;
					}
                }

				> .references {
					margin-top: 1rem;
					margin-left: 20px;

					> .label {
						font-size: 0.9rem;
						color: $color-gray;
						font-style: italic;
					}

					> .link {
						font-size: 0.9rem;
						color: $color-off-black;

						&:hover {
							color: $color-link;
							text-decoration: underline;
						}

						&:after {
							content: '·'
						}

						&:last-of-type:after {
							content: ''
						}
					}
				}
	        }
	    }
    }
}
