.page-search {
	.input-control {
		> input {
			background-color: $color-header;
		}
	}

	.search-results {
	    .heading {
	        font-size: 1.2rem;
	        color: $color-off-black;
	    }

	    > .list {
	        margin-top: 20px;
			list-style: none;

	        > .item {
	            cursor: pointer;
				margin: 0 30px 30px 0;
				padding-bottom: 40px;
    			border-bottom: 1px solid #e1e1e1;

                > .link {
                    text-decoration: none;
                    color: $color-off-black;

					&:hover {
						color: $color-link;
					}

                    > .title {
                        display: inline-block;
						font-size: 1.2rem;
                    }

					> .folder {
                        display: inline-block;
                        font-size: 0.8rem;
                        color: $color-gray;
						margin-left: 15px;
                    }

                    > .excerpt {
						margin-top: 1rem;
                        font-size: 0.9rem;
                    }

					> .chips {
						margin-top: 1rem;
					}
                }

				> .references {
					margin-top: 1rem;

					> .label {
						font-size: 0.9rem;
						color: $color-gray;
					}

					> .link {
						font-size: 0.9rem;
						color: $color-off-black;

						&:hover {
							color: $color-link;
							text-decoration: underline;
						}
					}
				}
	        }
	    }
    }
}
