.space-tools {
	.doc-tool {
		position: absolute;
		top: 150px;
		right: -18px;
		z-index: 999;
	}

	.scroll-space-tool {
		position: absolute;
		top: 150px;
		right: -18px;
		z-index: 888;
		-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 1s; /* Firefox < 16 */
		-ms-animation: fadein 1s; /* Internet Explorer */
		-o-animation: fadein 1s; /* Opera < 12.1 */
		animation: fadein 1s;
	}

	.stuck-space-tool {
		position: fixed !important;
		top: 150px !important;
		right: 0;
		left: 0;
		-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 1s; /* Firefox < 16 */
		-ms-animation: fadein 1s; /* Internet Explorer */
		-o-animation: fadein 1s; /* Opera < 12.1 */
		animation: fadein 1s;
	}
}

.folders-list {
	> .section {
		margin: 30px 0 10px 0;

		> .heading {
			font-size: 0.9rem;
			font-weight: bold;
			color: $color-gray;
			padding-bottom: 5px;
		}

		> .message {
			font-size: 0.8rem;
			color: $color-gray;
			margin-top: 10px;
		}

		> .list {
			padding: 0;
			margin: 5px 0 0 15px;

			> .link {
				font-size: 1rem;
				color: $color-off-black;
				text-decoration: none;

				&:hover {
					color: $color-link;
				}

				> .item {
					list-style-type: none;
					list-style: none;
					margin: 0 0 5px 0;
					padding: 0;
				}
			}

			> .selected {
				color: $color-link;
				font-weight: bold;
			}
		}
	}
}

.documents-list {
	> .document {
		margin: 0;
		padding: 20px 20px 25px 20px;
		width: 100%;
		position: relative;
		transition: .3s;
		border-bottom: 1px solid $color-border;

		&:hover {
			> .link {
				> .title {
					color: $color-link;
				}

				> .snippet {
					color: $color-gray;
				}
			}

			> .checkbox {
				display: block;
			}
		}

		> .checkbox {
			position: absolute;
			display: none;
			top: 8px;
			right: 15px;
			cursor: pointer;

			> .material-icons {
				width: 10px;
			    margin: 0;
			    padding: 0;
				color: $color-checkbox;
			}
		}

		.link {
			text-decoration: none;
			color: $color-off-black;
			cursor: pointer;

			&:hover {
				text-decoration: none;
				color: $color-off-black;
			}

			> .title {
				font-size: 18px;
				margin-bottom: 10px;
			}

			> .snippet {
				color: $color-gray;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	> .selected-card {
		background-color: $color-card-active !important;

		> .checkbox {
			display: block;
		}
	}
}

.move-document-options, .start-document-options {
	height: 150px;
	overflow-y: auto;
	margin: 0;
	padding: 0;

	> .option {
		vertical-align: bottom;
		cursor: pointer;
		font-size: 0.9rem;
		overflow: hidden;
		white-space: nowrap;

		> .material-icons {
			font-size: 0.9rem;
			vertical-align: top;
		}
	}

	> .selected {
		color: $color-link;
	}
}

.empty-state-space {
	margin-top: 150px;
	text-align: center;
}

.start-document {
	> .space-name {
		color: $color-primary;
		font-size: 1.3rem;
		font-weight: bold;
		margin-bottom: 30px;
	}

	> .import-document-button {
		width: 100%;
		padding: 20px;
		margin: 30px 0;
		text-align: center;
		color: $color-gray;
		border: 2px dotted $color-gray;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.7rem;
		@include border-radius(10px);
		@include ease-in();

		&:hover {
			border-color: $color-link;
			color: $color-link;
		}

		> .dz-preview, .dz-processing {
			display: none !important;
		}
	}

	> .templates-list {
		margin: 0;

		> .list {
			margin: 0;
			padding: 0;

			> .item {
				list-style: none;
				padding: 10px 5px;
				margin: 20px 0;
				@include ease-in();

				.icon {
					text-align: center;
					display: inline-block;
					width: 50px;

					> .img {
						float: left;
						text-align: center;
						display: inline-block;
						height: 40px;
						width: 40px;
					}

					> .edit-control {
						color: $color-gray;
						font-size: 0.9rem;
						text-align: center;
						float: left;
					    margin: 5px 0 0 9px;
						cursor: pointer;

						&:hover {
							color: $color-link;
						}
					}
				}

				> .details {
					vertical-align: top;
					display: inline-block;
					width: 80%;
					cursor: pointer;

					> .title {
						font-size: 1rem;
						font-weight: bold;
						color: $color-off-black;
						letter-spacing: 0.5px;
					}

					> .desc {
						color: $color-off-black;
						font-size: 0.9rem;
						margin-top: 5px;
					}

					&:hover {
						> .title, > .desc {
							color: $color-link !important;
						}
				    }
				}
			}
		}
	}
}
