{{#layout/top-bar selectItem="spaces"}}
{{/layout/top-bar}}

{{#layout/middle-zone}}
	{{#layout/middle-zone-content}}
		{{spaces/space-list spaces=model}}
	{{/layout/middle-zone-content}}

	{{#layout/middle-zone-sidebar}}
		<div id="sidebar" class="sidebar">
			<h1>{{appMeta.title}}</h1>
			<p>{{appMeta.message}}</p>
			{{toolbar/for-spaces spaces=model onAddSpace=(action 'onAddSpace')}}
		</div>
	{{/layout/middle-zone-sidebar}}
{{/layout/middle-zone}}

{{#layout/bottom-bar}}
{{/layout/bottom-bar}}