.folder-heading {
	margin: 0 0 55px 0;

	.folder-title {
		font-size: 2rem;
		margin: 0 0 10px 0;
		font-weight: normal;
	}
}

.edit-folder-heading {
	margin: 0 0 10px 0;

	.edit-folder-title {
		> input {
			font-size: 2rem;
			font-weight: normal;
			margin: 0 0 10px;
			color: $color-wysiwyg;
		}
	}
}

.documents-list {
	.document-item {
		@include content-container();
		margin: 0;
		position: relative;
		transition: 0.3s;

		&:hover {
			> .link {
				> .title {
					color: $color-link;
				}

				> .snippet {
					color: $color-gray;
				}
			}

			> .checkbox {
				display: block;
			}
		}

		> .checkbox {
			position: absolute;
			display: none;
			top: 10px;
			right: 20px;
			cursor: pointer;

			> .material-icons {
				width: 10px;
				margin: 0;
				padding: 0;
				color: $color-checkbox;
			}
		}

		.link {
			text-decoration: none;
			color: $color-off-black;
			cursor: pointer;

			&:hover {
				text-decoration: none;
				color: $color-off-black;
			}

			> .title {
				font-size: 18px;
				margin-bottom: 10px;
			}

			> .snippet {
				color: $color-gray;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	.wizard-item {
		margin: 0;
		padding: 0;
	}

	.no-wizard-item {
		margin: 50px 0;
		padding: 0;
	}

	.selected-card {
		background-color: $color-card-active !important;

		> .checkbox {
			display: block;
		}
	}
}

.move-document-options,
.start-document-options {
	height: 200px;
	overflow-y: auto;
	margin: 0;
	padding: 0;

	> .option {
		vertical-align: bottom;
		cursor: pointer;
		font-size: 0.9rem;
		overflow: hidden;
		white-space: nowrap;

		> .material-icons {
			font-size: 0.9rem;
			vertical-align: top;
		}
	}

	> .selected {
		color: $color-link;
	}
}
