.start-document {
	> .import-document-button {
		width: 100%;
		padding: 20px;
		margin: 30px 0;
		text-align: center;
		color: $color-gray;
		border: 2px dotted $color-gray;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.7rem;
		@include border-radius(10px);
		@include ease-in();

		&:hover {
			border-color: $color-link;
			color: $color-link;
		}

		 > .dz-preview,
		.dz-processing {
			display: none !important;
		}
	}

	> .templates-list {
		margin: 0;

		> .list {
			margin: 0;
			padding: 0;

			> .item {
				cursor: pointer;
				list-style: none;
				padding: 10px 5px;
				margin: 10px 0;
				min-height: 90px;
				@include ease-in();

				&:hover {
					> .icon {
						> .edit-control {
							display: block;
						}
					}
				}

				.icon {
					text-align: center;
					display: inline-block;
					width: 50px;

					> .img {
						text-align: center;
						display: inline-block;
						height: 40px;
						width: 40px;
					}

					> .edit-control {
						display: none;
						vertical-align: top;
						text-align: center;
						margin-top: 5px;
						opacity: 0.5;
						cursor: pointer;
						color: $color-gray;

						&:hover {
							color: $color-link;								
						}
					}
				}

				> .details {
					vertical-align: top;
					display: inline-block;
					width: 80%;
					cursor: pointer;

					> .title {
						font-size: 1rem;
						font-weight: bold;
						color: $color-off-black;
						letter-spacing: 0.5px;
					}

					> .desc {
						color: $color-gray;
						font-size: 0.9rem;
						margin-top: 5px;
					}

					&:hover {
						 > .title,
						> .desc {
							color: $color-link !important;
						}
					}
				}
			}
		}
	}
}
