.widget-list-picker {
	margin: 10px 0;

	> .options {
		width: 100%;
		margin: 0 auto;

		> .option {
			@include ease-in();
			margin: 0 0 5px 0;
			padding: 10px 15px;
			color: $color-gray;
			background-color: $color-off-white;
			cursor: pointer;
			position: relative;

			&:hover {
				color: $color-black;
				// background-color: $color-primary-light;
			}

			> .text {
				width: 80%;
				font-weight: bold;
			}

			> .material-icons {
				position: absolute;
				top: 10px;
				right: 10px;
				color: $color-white;
			}
		}

		> .selected {
			color: $color-white !important;
			background-color: $color-link !important;
		}
	}
}
