.widget-list-picker {
	margin: 10px 0;

	> .options {
		width: 100%;
		margin: 0 auto;
		padding: 0;

		> .option {
			@include ease-in();
			margin: 0 0 5px 0;
			padding: 10px 15px;
			color: $color-gray;
			background-color: $color-off-white;
			cursor: pointer;
			position: relative;
			list-style-type: none;
		    line-height: 26px;

			&:hover {
				color: $color-black;
				// background-color: $color-primary-light;
			}

			> .text {
				width: 80%;
				font-weight: bold;
			}

			> .material-icons {
				position: absolute;
				top: 10px;
				right: 10px;
				color: $color-white;
			}
		}

		> .selected {
			color: $color-white !important;
			background-color: $color-link !important;
		}
	}
}

.widget-list-choice {
	text-align: left;
	margin: 0;
	padding: 0;
	display: inline-block;

	> li {
		margin: 0 20px 0 0;
		padding: 0;
		display: inline-block;
		font-size: 1.3rem;
		font-weight: 700;
		color: $color-gray;
		cursor: pointer;
	}

	> .selected {
		color: $color-green;
		border-bottom: 1px solid $color-green;
	}
}
