.base-card {
    border: 1px solid $color-border;
    display: inline-block;
    border-radius : 3px;
    background-color: $color-white;

    &:hover {
        @extend .z-depth-half;
        background-color: $color-selected-item;
        border-color: $color-selected-item;
        transition: 0.2s all ease;
    }
}

.content-card {
    @extend .base-card;
    margin: 0 12px 12px 0;
    padding: 20px 20px;
    width: 200px;
    height: 250px;
    position: relative;

    .title {
        font-size: 1rem;
        font-family: "open_sanssemibold";
        height: 3rem;
        overflow: hidden;
        margin-bottom: 0.75rem;
    }

    .snippet {
        font-size: 0.8rem;
        line-height: 1.1rem;
        height: 2rem;
        overflow: hidden;
        margin-bottom: 0.75rem;
    }
}

.stacked-card {
    @extend .base-card;
    padding: 20px 20px;
    position: relative;

    .title {
        font-size: 1rem;
        font-family: "open_sanssemibold";
        margin-bottom: 0.75rem;
		color: $color-off-black;
    }

    .snippet {
        font-size: 0.8rem;
        line-height: 1.1rem;
        margin-bottom: 0.75rem;
		color: $color-stroke;
    }
}

.cards-list {
    margin: 0;
    padding: 0;

    > li {
        list-type: none;
        float: left;
    }
}
