.widget-selection {
	> .option {
		width: 100%;
		margin: 0;
		padding: 5px 10px;
		text-align: left;
		@extend .no-select;
		cursor: pointer;
		// border: 1px solid $color-border;
		color: $color-off-black;
		position: relative;

		> i.material-icons {
			display: none;
		}
	}

	&:hover {
		@include ease-in();
		background-color: $color-off-white;
	}

	> .selected {
		background-color: $color-card-active !important;
		color: $color-primary !important;

		> i.material-icons {
			display: inline-block;
			position: absolute;
			right: 10px;
			top: 5px;
		}
	}
}
