.ui-checkbox {
	vertical-align: bottom;
	cursor: pointer;
	font-size: 1.1rem;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 0 5px 0;

	> .material-icons {
		font-size: 1.5rem;
		color: $color-gray;
		vertical-align: top;
	}

	> .selected {
		color: $color-blue;
	}

	&:hover {
		color: $color-blue;
	}

	> .text {
		display: inline-block;
		font-size: 1.1rem;
		vertical-align: sub;
		color: $color-off-black;
	}
}

.ui-checkbox-selected {
	color: $color-blue;
}

.widget-checkbox {
	color: $color-blue;
	cursor: pointer;
}

.checkbox-gray {
	color: $color-gray !important;
}
