.ui-checkbox {
	vertical-align: bottom;
	cursor: pointer;
	font-size: 1.1rem;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 0 5px 0;

	> .material-icons {
		font-size: 1rem;
		color: $color-gray;
		vertical-align: top;
	}

	> .selected {
		color: $color-link;
	}

	&:hover {
		color: $color-link;
	}

	> .text {
		display: inline-block;
		font-size: 0.9rem;
		vertical-align: text-top;
		color: $color-off-black;
	}
}

.ui-checkbox-selected {
	color: $color-link;
}
