{{layout/nav-bar}}

<div class="container">
	{{toolbar/for-space spaces=model.folders space=model.folder permissions=model.permissions}}

	{{folder/space-view
		folders=model.folders
		folder=model.folder
		templates=model.templates
		permissions=model.permissions
		documents=model.documents
		categories=model.categories
		categorySummary=model.categorySummary
		categoryMembers=model.categoryMembers
		rootDocCount=model.rootDocCount
		onRefresh=(action 'onRefresh')}}
</div>