{{#layout/master-sidebar}}
	{{folder/space-sidebar
		spaces=model.folders
		space=model.folder
		labels=model.labels
		templates=model.templates
		permissions=model.permissions
		documents=model.documents
		documentsDraft=model.documentsDraft
		documentsLive=model.documentsLive
		categories=model.categories
		categorySummary=model.categorySummary
		categoryMembers=model.categoryMembers
		rootDocCount=model.rootDocCount
		categoryFilter=category
		onFiltered=(action "onFiltered")
		onRefresh=(action "onRefresh")}}
{{/layout/master-sidebar}}

{{#layout/master-content}}
	<div class="grid-container-6-4">
		<div class="grid-cell-1">
			{{layout/logo-heading
				title=model.folder.name
				desc=model.folder.desc
				meta=model.folder.icon}}
		</div>
		<div class="grid-cell-2 grid-cell-right">
			{{folder/space-toolbar
				spaces=model.folders
				space=model.folder
				permissions=model.permissions
				templates=model.templates
				category=category
				categories=model.categories
				documents=filteredDocs
				onRefresh=(action "onRefresh")}}
		</div>
	</div>

	{{folder/documents-list
		documents=filteredDocs
		spaces=model.folders
		space=model.folder
		templates=model.templates
		permissions=model.permissions
		onExportDocument=(action "onExportDocument")
		onDeleteDocument=(action "onDeleteDocument")
		onMoveDocument=(action "onMoveDocument")}}
{{/layout/master-content}}
