{{#layout/master-sidebar}}
	<Ui::UiSpacer @size=300 />

	<div class="section">
		{{#link-to "document.index" model.folder.id model.folder.slug model.document.id model.document.slug}}
			{{ui/ui-button color=constants.Color.Yellow light=true icon=constants.Icon.ArrowLeft label="Document"}}
		{{/link-to}}
	</div>
{{/layout/master-sidebar}}

{{#layout/master-content}}
	{{document/document-editor
		document=model.document
		folder=model.folder
		page=model.page
		meta=model.meta
		attachments=model.attachments
		onCancel=(action "onCancel") onAction=(action "onAction")}}

	{{document/section-attachment uploadLabel="Upload Attachments"
		editMode=true page=model.page document=model.document
		files=model.attachments
		onAttachmentUpload=(action "onAttachmentUpload")
		onAttachmentDelete=(action "onAttachmentDelete")}}
{{/layout/master-content}}
