<Layout::MasterNavigation />
<Layout::MasterToolbar>
	<div class="zone-1">
		{{#link-to "document.index" model.folder.id model.folder.slug model.document.id model.document.slug}}
			{{ui/ui-button color=constants.Color.Gray outline=true uppercase=false icon=constants.Icon.ArrowLeft label=model.document.name}}
		{{/link-to}}
	</div>
	<div class="zone-2" />
	<div class="zone-3" />
</Layout::MasterToolbar>

<Layout::Container>
	{{document/document-editor
		document=model.document
		folder=model.folder
		page=model.page
		meta=model.meta
		attachments=model.attachments
		onCancel=(action "onCancel") onAction=(action "onAction")}}

	{{document/section-attachment uploadLabel="Upload Attachments"
		editMode=true page=model.page document=model.document
		files=model.attachments
		onAttachmentUpload=(action "onAttachmentUpload")
		onAttachmentDelete=(action "onAttachmentDelete")}}
</Layout::Container>
