{{#layout/top-bar}}
	<li class="item">
		{{#link-to "folder.index" model.folder.id model.folder.slug class="link"}}
			{{model.folder.name}}
		{{/link-to}}
	</li>
	<li class="item">
		{{#link-to "document.index" model.folder.id model.folder.slug model.document.id model.document.slug class="link selected"}}
			{{model.document.name}}
		{{/link-to}}
	</li>
{{/layout/top-bar}}

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="mt-5">
				{{document/document-editor document=model.document folder=model.folder page=model.page meta=model.meta onCancel=(action "onCancel") onAction=(action "onAction")}}
			</div>
		</div>
	</div>
</div>

{{#layout/bottom-bar}}
{{/layout/bottom-bar}}