<div class="onboarding-container">
    <div class="container-fluid">
        <div class="row">
            {{onboard/share-folder serial=serial folderId=folderId slug=slug}}
        </div>
    </div>
</div>