{{#layout/master-sidebar hideNavigation=true}}
	<Ui::UiSpacer @size="300" />
	<div class="section">
		<div class="title">welcome to documize</div>
		<p>Let's set up your account and you started</p>
	</div>
{{/layout/master-sidebar}}

{{#layout/master-content}}
	{{layout/logo-heading
		title=appMeta.title
		desc=appMeta.message
		logo=true}}

	{{onboard/share-folder
		serial=serial
		folderId=folderId
		slug=slug}}
{{/layout/master-content}}

