{{#section/base-editor-inline document=document folder=folder page=page isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}
	{{document/edit-tools document=document folder=folder page=page onInsertLink=(action 'onInsertLink')}}
	<div id="rich-text-editor-{{page.id}}" class="mousetrap wysiwyg wysiwyg-editor">
		{{{pageBody}}}
	</div>
{{/section/base-editor-inline}}
