{{#section/base-editor document=document folder=folder page=page isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}

	<div class="pull-left width-96">
		{{focus-textarea value=pageBody id="rich-text-editor" class="mousetrap"}}
	</div>

	<div class="pull-left">
		{{document/edit-tools document=document folder=folder page=page onInsertLink=(action 'onInsertLink')}}
	</div>

{{/section/base-editor}}
