<div class="row">
	<div class="col">
		<div class="view-customize">
			<h1 class="admin-heading">Backup & Restore</h1>
			<h2 class="sub-heading">Export all documents and settings to a single ZIP file.</h2>
		</div>
	</div>
</div>

<div class="view-customize">
	<form class="mt-5 ">
		<div class="form-group">
			<p>It can take several minutes to complete the backup process &mdash; please be patient while the backup is running.</p>
			<div class="btn btn-success my-5" {{action 'onBackup'}}>{{buttonLabel}}</div>
            {{#if backupFailed}}
                <p class="text-danger">Backup failed &mdash; please check server logs</p>
            {{/if}}
            {{#if backupSuccess}}
                <p class="font-weight-bold">Backup successful ({{backupFilename}})</p>
            {{/if}}
		</div>
	</form>
</div>

