<div class="product-update">
	<div class="update-status">
		{{#if appMeta.updateAvailable }}
			<a  class="title" href="https://www.documize.com/community/downloads">Product update is available :)</a>
			<p class="instructions">
				To upgrade, replace existing binary and restart Documize Community.
			</p>
			<Ui::UiSpacer @size="400" />
		{{/if}}
	</div>
	<div class="change-log">
		{{{changelog}}}
	</div>
</div>
