<div class="product-update">
	<div class="update-status">
		{{#if appMeta.updateAvailable }}
			<a  class="title" href="https://www.documize.com/community">{{localize 'changelog_available'}}</a>
			<p class="instructions">{{localize 'changelog_guidance'}}</p>
			<Ui::UiSpacer @size="400" />
		{{/if}}
	</div>
	<div class="change-log">
		{{{changelog}}}
	</div>
</div>
