<div class="row">
	<div class="col">
		<div class="view-customize">
			<h1 class="admin-heading">Integrations Settings</h1>
			<h2 class="sub-heading">Enable and configure third party integrations</h2>
		</div>
	</div>
</div>

<div class="view-customize">
	<form class="mt-5">
		<h2>Jira Connector</h2>
		<p>Displays issues within documentation</p>
		<div class="form-group row">
			<label for="siteTitle" class="col-sm-4 col-form-label">URL</label>
			<div class="col-sm-7">
				{{focus-input id="jira-url" type="text" value=jiraCreds.url class="form-control"}}
				<small class="form-text text-muted">Fully qualified domain name for your Jira instance e.g. http://jira.example.org</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="siteTitle" class="col-sm-4 col-form-label">Username</label>
			<div class="col-sm-7">
				{{input id="jira-username" type="text" value=jiraCreds.username class="form-control"}}
				<small class="form-text text-muted">Your Jira login username/email</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="siteTitle" class="col-sm-4 col-form-label">Password</label>
			<div class="col-sm-7">
				{{input id="jira-secret" type="password" value=jiraCreds.secret class="form-control"}}
				<small class="form-text text-muted">Provide API Token if using Atlassian Cloud or Password when self-hosting Jira</small>
			</div>
		</div>
		<div class="btn btn-success font-weight-bold text-uppercase mt-4" {{action 'onSave'}}>Save</div>
	</form>
</div>