<div class="row">
	<div class="col">
		<div class="view-customize">
			<h1 class="admin-heading">Product License</h1>
			<h2 class="sub-heading">Optional Enterprise Edition license</h2>
		</div>
	</div>
</div>

<div class="view-customize">
	<form class="mt-5">
		<div class="form-group row">
			<label for="smtp-host" class="col-sm-2 col-form-label">License Key</label>
			<div class="col-sm-10">
				{{textarea value=model.license rows="15" class=(if LicenseError 'form-control is-invalid' 'form-control')}}
				<small class="form-text text-muted">XML format</small>
			</div>
		</div>
		<div class="btn btn-success mt-4" {{action 'saveLicense'}}>Save</div>
	</form>
</div>
