<div class="view-customize">
	<form>
		<div class="form-group">
			<p>{{localize 'search_reindex'}}</p>
			{{ui/ui-button color=constants.Color.Yellow light=true icon=constants.Icon.Search label=buttonLabel onClick=(action "reindex")}}
		</div>
	</form>
</div>
