{{#if isAuthProviderDocumize}}
	<div class="page-customize">
		<div class="add-user">
			<form>
				<div class="form-header">
					<div class="title">New User</div>
					<div class="tip">Newly added users receive an invitation email with a random password</div>
				</div>
				<div class="input-control">
					<label>Firstname</label>
					{{focus-input id="newUserFirstname" type="text" value=newUser.firstname class=(if hasFirstnameEmptyError 'error')}}
				</div>
				<div class="input-control">
					<label>Lastname</label>
					{{input id="newUserLastname" type="text" value=newUser.lastname class=(if hasLastnameEmptyError 'error')}}
				</div>
				<div class="input-control">
					<label>Email</label>
					{{input id="newUserEmail" type="text" value=newUser.email class=(if hasEmailEmptyError 'error')}}
				</div>
				<div class="regular-button button-blue" {{ action 'add' }}>Add</div>
			</form>
		</div>
	</div>
{{/if}}