{{#layout/zone-container}}

	{{layout/zone-navigation}}
	{{#layout/zone-sidebar}}
		{{back-to-home}}
		<div class="sidebar-menu">
			<ul class="options">
				{{#link-to 'customize.general' activeClass='selected' class="option" tagName="li"}}General{{/link-to}}
				{{#link-to 'customize.folders' activeClass='selected' class="option" tagName="li"}}Spaces{{/link-to}}
				{{#link-to 'customize.users' activeClass='selected' class="option" tagName="li"}}Users{{/link-to}}
			</ul>
		</div>
	{{/layout/zone-sidebar}}

	{{#layout/zone-content}}
		{{outlet}}
	{{/layout/zone-content}}

{{/layout/zone-container}}
