{{#if categories}}
	{{#each categories as |cat|}}
		{{#if cat}}
			<div class="category">
				<i class="dicon {{constants.Icon.Category}}" title={{localize 'category'}} />
				<div class="name">{{cat}}</div>
			</div>
		{{/if}}
	{{/each}}
{{/if}}
