{{#each tagz as |tg|}}
	{{#link-to "search" (query-params filter=tg matchTag=true matchContent=false matchFile=false matchDoc=false) class="hashtag"}}
		<i class="dicon {{constants.Icon.Tag}}" title={{localize 'tag'}} />
		<div class="name">{{tg}}</div>
	{{/link-to}}
{{/each}}
