<div class="margin-top-10">
	{{#each tagz as |tg|}}
		{{#link-to "search" (query-params filter=tg)}}
			<div class="chip">
				<span class="chip-text">{{tg}}</span>
			</div>
		{{/link-to}}
	{{/each}}
</div>
