<div class="sidebar-panel">
	<div class="title">Invite Users</div>
	<div class="sidebar-folder-share folder-sidebar-form-wrapper">
		<div class="input-control">
			<label>Email</label>
			<div class="tip">Comma separate multiple email addresses</div>
			{{focus-input id="inviteEmail" type="text" class="input-transparent" value=inviteEmail}}
		</div>
		<div class="input-control">
			<label>Message</label>
			<div class="tip">Explain why they are being invited</div>
			{{textarea id="explainInvite" value=inviteMessage class="input-transparent" rows="5"}}
		</div>
		<div class="regular-button button-blue" {{ action 'onShare' }}>Share</div>
	</div>
</div>
