{{#section/base-editor-inline document=document folder=folder page=page isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	<div class="table-editor-wrapper wysiwyg">
		{{textarea value=pageBody id=editorId class="mousetrap"}}
	</div>
{{/section/base-editor-inline}}
