{{#section/base-editor-inline document=document folder=folder page=page blockMode=blockMode
	contentLinkerButton=true onInsertLink=(action "onInsertLink")
	previewButton=true onPreview=(action "onPreview")
	isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}

	<style>
		.CodeMirror {
			height: auto !important;
			font-family: Helvetica;
			font-size: 17px;
		}

		.CodeMirror pre {
			padding: 0;
		}
	</style>

	<div class="section-markdown-editor">
		{{#if editMode}}
			{{textarea id=editorId class="mousetrap" value=pageBody}}
		{{else}}
			<div class="mousetrap wysiwyg section-markdown-preview">
				{{{pagePreview}}}
			</div>
		{{/if}}
	</div>
{{/section/base-editor-inline}}
