<div class="auth-box">
    <div class="logo">
        <img src="/assets/img/logo-color.png" title="Documize" alt="Documize" class="img-fluid" />
    </div>
    {{password-reset reset=(action 'reset')}}
</div>
