.section-gemini-workspaces {
	margin: 0;
	padding: 0;
	}
	
.section-gemini-workspace {
	float: left;
	list-style: none;
	margin: 0px 15px 15px 0;
	cursor: pointer;
	position: relative;
}

.section-gemini-card {
	height: 50px;
	width: 75px;
	text-align: center;
	color: #fff;
	padding-top: 15px;
}

.section-gemini-selected-card {
	position: absolute;
	top: 2px;
	right: 4px;
	color: #fff;
	font-size: 10px;
}

.section-gemini-table {
    font-size: 12px;
    width: auto !important;
    
    a:hover {
        text-decoration: underline;
    }
}
