.section-github-editor {
	.github-view label {
		margin: 0 10px;
	}

	.github-repo {
		width: 100%;
		padding: 10px;
		white-space: nowrap;
		overflow: auto;
	}

	.github-repo-title {
		font-weight: bold;
		color: #fff;
		font-size: 16px;
	}

	.github-list {
		margin: 10px 10px 0 0;
	}

	.github-list-title {
		color: #4c4c4c;
		font-size: 14px;
		vertical-align: text-top;
	}

	.github-list-checkbox {
		vertical-align: text-top;
		margin-right: 10px;
	}

	.github-issue-label {
		font-size: 11px;
		color: white;
		padding: 0 4px;
		margin-right: 5px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
		display: inline-block;
		line-height: 22px;
	}
}

.section-github-render {
	font-size: 0.9rem;

	a:hover {
		text-decoration: underline;
	}

	.github-table {
		margin: 10px 0 !important;
		border: none !important;
		line-height: 30px;

		td {
			border: none !important;
			vertical-align: top;
		}
	}

	.heading {
		font-size: 1.6rem;
		margin: 30px 0 0;
	}

	.github-table thead tr th {
		padding: 15px 0;
		border-bottom: 1px solid #e1e1e1;
		text-transform: uppercase;
		font-size: 14px;
		text-align: left;

		span {
			color: #838d94;
		}

	}

	.github-table tbody tr td {
		border: none !important;
		padding: 5px 0 !important;
	}

	.github-table .right-column {
		text-align: right;
		color: #838d94;
	}

	span.data {
		color: #838d94;
	}

	.issue-label {
		color: white;
		font-size: 11px;
		padding: 4px 6px;
		border-radius: 4px;
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
		margin-left: 10px;
	}

	.progress-bar {
		display: inline-block;
		border-radius: 3px;
		width: 40%;
		background-color: #f1f1f1;
		height: 8px;
		margin-left: 10px;

		.progress {
			height: 8px;
			border-radius: 4px;
			background-color: #4caf50;
		}
	}

	.contributor-meta {
		white-space: nowrap;
		width: 1%;
	}

	span.issue-state {
		float: left;
		margin-right: 10px;
		margin-top: 3px;
	}

	img.github-avatar {
		width: 24px;
		border-radius: 4px;
		margin-left: 10px;
	}
}
