.section-jira {
	margin: 0;
	padding: 0;
}

.section-jira-table {
    font-size: 1rem;
    width: auto !important;

    a:hover {
        text-decoration: underline;
    }
}

.section-jira-icon {
	height: 16px;
	width: 16px;
}
