<div id="first-run-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Getting Started</div>
            <div class="modal-body">
                <p>dfdfdf</p>
            </div>
            <div class="modal-footer">
                {{ui/ui-button color=constants.Color.Yellow light=true label="Got it!" dismiss=true}}
            </div>
        </div>
    </div>
</div>
