.modal-content {
	border: none !important;
}

.empty-state {
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 500px;
	padding: 30px;
	@include border-radius(5px);
	background-color: $color-off-white;
	display: block;
	opacity: 0.8;

	> p {
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: $color-gray;
		display: block;
	}

	> .material-icons {
		font-size: 5rem;
		color: $color-stroke;
	}
}

.not-found {
	text-align: center;
	font-size: 2rem;
	color: $color-gray;
	margin: 5rem 0;
}
