.view-customize {
	> .admin-heading {
		font-size: 1.5rem;
		font-weight: bold;
		color: $color-black;
	}

	> .sub-heading {
		font-size: 1.1rem;
		color: $color-gray;
	}

	.user-table {
		.name {
			font-size: 1rem;
			color: $color-off-black;
			margin: 0 0 0 30px;
		}

		.email {
			font-size: 0.9rem;
			color: $color-gray;
			margin: 0 0 0 30px;
		}

		.inactive-user
		{
			@extend .color-red;
			font-weight: normal;
			text-decoration: line-through;
		}

		.admin-user
		{
			@extend .color-primary;
			font-weight: normal;
		}

		.checkbox {
			color: $color-checkbox;
			cursor: pointer;
		}
	}

	> .space-list {
        padding: 0;
        margin: 0;

		> .space {
			margin: 15px 0;
			padding: 15px;
			@include card();
			@include ease-in();
			font-size: 1.2rem;
			color: $color-primary;
		}
	}

	> .groups-list {
        padding: 0;
        margin: 0;

		> .group {
			margin: 15px 0;

			.name {
				font-size: 1.2rem;
				color: $color-off-black;

				> .purpose {
					font-size: 1rem;
					color: $color-gray;
					display: inline-block;
				}
			}
		}
	}

	> .group-users-members {
		> .item {
			margin: 10px 0;

			> .fullname {
				color: $color-primary;
				font-size: 1.2rem;
			}
		}
	}
}
