.nav-bar {
	background-color: $color-primary;
	padding: 10px 20px;
	color: $color-white;
	font-size: 1rem;

	.nav-link, .nav-link:visited {
		color: $color-white;

		&:hover {
			color: darken($color-white, 15%);
		}
	}

	.nav-title {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.nav-msg {
		font-size: 0.875rem;
	}

	.nav-right {
		float: right;
	}
}




// pre-nov17 UX
$sidebar-width: 400px;

#wrapper {
    padding-left: 0;
	margin-right: 60px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
	z-index: 888;
    position: fixed;
    overflow-x: hidden;
    left: $sidebar-width;
    top: 0;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background-color: $color-sidebar;
	border-right: 1px solid $color-sidebar-border;
}

.page-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 0;
    max-width: 1200px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    // position: absolute;
	padding: 30px 0 30px 30px;
    margin: 0 auto;
    margin-top: 30px;

    .page-content-title {
		font-size: 2rem;
		margin: 30px 0 10px;
		font-weight: normal;
	}
}

@media(min-width:768px) {
    #wrapper {
        padding-left: $sidebar-width;
    }

    #sidebar-wrapper {
        width: $sidebar-width;
    }
}

.sidebar-common {
	display: inline-block;
	width: 340px;
	padding: 40px 20px 0px 20px;
	margin-left: 20px;

    .zone-sidebar-page-title {
        color: $color-primary;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .zone-sidebar-page-info {
        color: $color-black;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 30px;
    }

	color: $color-sidebar-text !important;

	a, a:visited {
		&:hover {
			color: $color-sidebar-link !important;
		}
	}
}

.sidebar-wrapper {
	padding: 40px 20px 40px 20px;
    margin: 0 20px;

    .sidebar-panel {
        width: 300px;

        > .title {
            color: $color-primary;
            font-size: 1.2rem;
			margin-bottom: 30px;
			font-weight: bold;
        }

        .document-sidebar-form-wrapper {
            padding: 20px;
            border: 1px solid $color-stroke;
            background-color: $color-white;
            @include border-radius(3px);
        }
	}

	color: $color-sidebar-text !important;

	a, a:visited {
		&:hover {
			color: $color-sidebar-link !important;
		}
	}
}

.navigation {
	margin: 0 0 0 0;
    padding: 10px 0;
    text-align: center;
    background-color: $color-sidebar-navigation;
    border-bottom: 1px solid $color-sidebar-navigation-border;

	.round-button-mono {
		> .material-icons {
			color: $color-gray;
			@include ease-in();
		}

		&:hover {
			> .material-icons {
				color: $color-link;
			}
		}
	}

	.profile-link {
		color: $color-primary;
		text-align: center;
		font-size: 1rem;
		font-style: normal;
		font-family: $font-regular;
		vertical-align: top;
	}
}

.document-sidebar-toolbar {
	margin: 10px 0 0 0;
    padding: 10px 0;
    text-align: center;
	// background-color: $color-sidebar-toolbar;

	> .round-button-mono {
		background-color: $color-white;
		border-color: $color-sidebar-border;

		> .material-icons {
			color: $color-gray;
			@include ease-in();
		}

		&:hover {
			> .material-icons {
				color: $color-link;
			}
		}
	}

	> .selected {
		background-color: $color-primary;
		border-color: $color-primary;

		> .material-icons {
			color: $color-off-white;
			@include ease-in();
		}

		&:hover {
			> .material-icons {
				color: $color-white;
			}
		}
	}
}
