.nav-bar {
	background-color: $color-primary;
	padding: 10px 20px;
	color: $color-white;
	font-size: 1rem;

	.nav-link, .nav-link:visited {
		color: $color-white;

		&:hover {
			color: darken($color-white, 15%);
		}
	}

	.nav-title {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.nav-msg {
		font-size: 1rem;
	}

	.nav-right {
		float: right;
	}
}
