.page-search {
	.input-control {
		> input {
			background-color: $color-sidebar;
		}
	}

	.examples {
		color: $color-gray;
	}

	.search-results {
		> .heading {
			font-size: 2rem;
			margin-bottom: 10px;
			font-weight: normal;
		}

		> .list {
			margin-top: 20px;
			list-style: none;

			> .item {
				@include content-container();
				cursor: pointer;
				margin-bottom: 30px;

				> .link {
					text-decoration: none;
					color: $color-off-black;

					&:hover {
						color: $color-link;
					}

					> .title {
						display: inline-block;
						font-size: 1.2rem;
					}

					> .folder {
						font-size: 0.8rem;
						color: $color-gray;
						margin-top: 5px;
					}

					> .excerpt {
						margin-top: 1rem;
						font-size: 0.9rem;
					}

					> .chips {
						margin-top: 1rem;
					}
				}
			}
		}
	}
}
