.page-customize {
	> .auth-admin, > .general-admin, > .license-admin, > .smtp-admin, > .space-admin {
		@include content-container();
	}

	> .add-user {
		@include content-container();
		margin-bottom: 50px;
	}

	> .user-admin {
		@include content-container();
		margin: 30px 0;

		> .heading {
			font-size: 1.2rem;
			color: $color-off-black;
			font-weight: bold;
			margin: 0 0 20px 0;
		}

		> .basic-table {
			background-color: $color-white;
			border: none !important;
			font-size: 1rem;
			color: $color-off-black;

			> thead {
				> tr {
					> th {
						height: 40px;
						font-weight: bold;
						color: $color-gray;
					}

					> th:first-child {
						font-weight: normal;
					}

					> th:last-child {
						text-align: center;
					}
				}
			}

			> tbody {
				> tr {
					> td {
						vertical-align: middle;
						text-align: center;

						> .selector {
							> i {
								color: $color-off-black;
							}
						}

						> .name {
							font-size: 1rem;
							color: $color-off-black;
							margin: 0 0 0 30px;
						}

						> .email {
							font-size: 0.9rem;
							color: $color-gray;
							margin: 0 0 0 30px;
						}
					}

					> td:first-child, td:last-child {
						text-align: left;
					}
				}
			}
		}

		.inactive-user
		{
			@extend .color-red;
			font-weight: normal;
			text-decoration: line-through;
		}

		.admin-user
		{
			@extend .color-primary;
			font-weight: normal;
		}

		.checkbox {
			color: $color-checkbox;
			cursor: pointer;
		}
	}

	.edit-user-dialog, .delete-user-dialog, .delete-space-dialog {
		display: none;
	}

	.manage-space-list {
		> .space {
			margin: 20px 0;
		}
	}
}
