.view-spaces {
	> .heading {
		font-size: 1.3rem;
		font-weight: bold;
		color: $color-dark;
		text-transform: uppercase;

		> .counter {
			font-size: 0.9rem;
			font-weight: normal;
			color: $color-gray;
			display: inline-block;
			margin-left: 10px;
		}
	}

	> .empty {
		font-size: 1.2rem;
		color: $color-gray;
		font-weight: normal;
		margin: 20px 0 50px 0;
	}

	> .list {
		margin: 30px 0;
		padding: 0;

		> a {
			color: $color-black;

			> .item {
				@include card();
				@include ease-in();
				list-style-type: none;
				float: left;
				margin: 0 20px 20px 0;
				padding: 10px;
				width: 250px;
				height: 100px;
				font-size: 1.1rem;
				overflow: hidden;
			}
		}
	}
}
