footer {
	background-color: $theme-100;
	color: map-get($gray-shades, 600);
	font-weight: 500;
	font-size: 1rem;
	padding: 5px 2rem;
}

.footer {
	display: flex;
	overflow: hidden;

	a, a:visited {
		@include ease-in();
		color: map-get($gray-shades, 600);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	> .progress {
		display: inline-block;
		text-align: right;

		> img {
			padding: 0;
			margin: 0;
			height: 20px;
			width: 20px;
		}
	}

	> .progress-done {
		background-color: map-get($green-shades, 600);
		color: $color-white;
		text-align: center;
		font-size: 1rem;
		height: 20px;
		width: 20px;
		@include border-radius(20px);
	}

	> .progress-notification {
		display: inline-block;
		font-size: 1rem;
		color: map-get($green-shades, 600);
		font-weight: 500;
	}
}
