{{#layout/zone-container}}

	{{layout/zone-navigation}}

	{{#layout/zone-header title=session.user.fullname message="Your Documize profile"}}
		{{layout/button-home}}
	{{/layout/zone-header}}

	{{#layout/zone-sidebar}}
		<div class="sidebar-menu">
			<div class="avatar-large">{{session.user.initials}}</div>
		</div>
	{{/layout/zone-sidebar}}

	{{#layout/zone-content}}
		{{user-profile model=model save=(action 'save')}}
	{{/layout/zone-content}}

{{/layout/zone-container}}
