<div class="onboarding-container">
	<div class="stage-1">
		<div class="form-group">
			<label for="stage-1-firstname">First name</label>
			<input id="stage-1-firstname" type="text" value="" class="form-control form-control-lg">
		</div>
		<div class="form-group">
			<label for="stage-1-lastname">Last name</label>
			<input id="stage-1-lastname" type="text" value="" class="form-control form-control-lg">
		</div>
		<Ui::UiSpacer @size="300" />
		{{ui/ui-button id="stage-1-next" color=constants.Color.Green light=true icon=constants.Icon.ArrowRight label=(localize 'next')}}
	</div>

	<div class="stage-2">
		<div class="form-group">
			<label for="stage-2-password">Choose Password</label>
			<input id="stage-2-password" type="password" value="" class="form-control form-control-lg">
			<small class="form-text text-muted">Between 6 and 50 characters</small>

		</div>
		<div class="form-group">
			<label for="stage-2-password-confirm">Confirm Password</label>
			<input id="stage-2-password-confirm" type="password" value="" class="form-control form-control-lg">
			<small class="form-text text-muted">Re-type your chosen password</small>
		</div>
		<Ui::UiSpacer @size="300" />
		{{ui/ui-button id="stage-2-next" color=constants.Color.Green light=true icon=constants.Icon.ArrowRight label=(localize 'signin')}}
	</div>

	<div class="stage-3">
		<p class="wait">Please wait...</p>
	</div>
</div>

