{{layout/logo-heading
	title=(localize 'section_airtable')
	desc=(localize 'section_airtable_explain')
	icon=constants.Icon.Integrations}}

{{#section/base-editor document=document folder=folder page=page isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	<div class="form-group">
		<label for="airtable-embed-code">{{localize 'section_airtable_code'}}</label>
		{{textarea value=data rows="3" id="airtable-embed-code" class="form-control mousetrap" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
	</div>
{{/section/base-editor}}
