{{#section/base-editor document=document folder=folder page=page isDirty=(action 'isDirty') onCancel=(action 'onCancel')
	onAction=(action 'onAction')}}
	<div class="input-control">
		<label>Airtable embed code</label>
		<div class="tip">Paste the Airtable embed code snippet</div>
		{{textarea value=data rows="3" id="airtable-embed-code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
	</div>
{{/section/base-editor}}
