{{#layout/master-sidebar}}
	{{ui/ui-spacer size=300}}
	<div class="section">
		{{#link-to "folder.settings"}}
			{{ui/ui-button color=constants.Color.Yellow light=true icon=constants.Icon.ArrowLeft label="Space Settings"}}
		{{/link-to}}
	</div>
{{/layout/master-sidebar}}

{{#layout/master-content}}
	{{layout/logo-heading
		title="Content Blocks"
		desc="Content blocks provide re-usable content that can be inserted into any document"
		icon=constants.Icon.Integrations}}

	{{document/block-editor document=model.document folder=model.folder block=model.block
		onCancel=(action "onCancel") onAction=(action "onAction")}}
{{/layout/master-content}}
