<Layout::MasterNavigation />
<Layout::MasterToolbar>
	<div class="zone-1">
		{{#link-to "folder.settings"}}
			{{ui/ui-button color=constants.Color.Gray outline=true uppercase=false icon=constants.Icon.ArrowLeft label=model.folder.name}}
		{{/link-to}}
	</div>
</Layout::MasterToolbar>

<Layout::Grid::Container>
	<Layout::Grid::Sidebar>
		<div class="sidebar-content">
			<div class="section">
				<div class="title">about</div>
				<div class="text"></div>
			</div>
		</div>
	</Layout::Grid::Sidebar>

	<Layout::Grid::Content>
		{{layout/logo-heading
			title="Content Blocks"
			desc="Content blocks provide re-usable content that can be inserted into any document"
			icon=constants.Icon.Integrations}}

		{{document/block-editor document=model.document folder=model.folder block=model.block
			onCancel=(action "onCancel") onAction=(action "onAction")}}
	</Layout::Grid::Content>
</Layout::Grid::Container>
