<div class="auth-box">
    <div class="logo">
        <img src="assets/img/logo-color.png" title="Documize" alt="Documize" class="responsive-img" />
    </div>
    {{password-reset reset=(action 'reset')}}
</div>
