// .font-fixed-width {
// 	font-family: 'courier new', courier;
// }

// $font-regular: Helvetica;
// $font-semibold: Helvetica;
// $font-light: Helvetica;

@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url("font/icons/MaterialIcons-Regular.eot");
	src: local('Material Icons'), local('MaterialIcons-Regular'), url("font/icons/MaterialIcons-Regular.woff2") format('woff2'), url("font/icons/MaterialIcons-Regular.woff") format('woff'), url("font/icons/MaterialIcons-Regular.ttf") format('truetype');
}
