.widget-tab {
	width: 100%;
	margin: 0;
	padding: 0 10px;
	text-align: center;
	@extend .no-select;

	> .tab {
		display: inline-block;
		margin: 0;
		padding: 5px 10px;
		background-color: $color-off-white;
		color: $color-gray;
		text-align: center;
		cursor: pointer;
		margin-right: -3px;

		&:hover {
			@include ease-in();
			background-color: $color-gray;
			color: $color-off-white;
		}
	}

	> .selected {
		background-color: $color-gray;
		color: $color-off-white;
	}
}
