.avatar {
    color: $color-white;
    background-color: $color-stroke;
    @include border-radius(20px);
    padding: 8px 0 0 0;
    letter-spacing: 1px;
    text-align: center;
    height: 35px;
    width: 35px;
    font-family: Tahoma, 'courier', 'arial';
}

.avatar-large {
    color: $color-white;
    background-color: $color-stroke;
    @include border-radius(100px);
    height: 100px;
    width: 100px;
    font-size: 30px;
    padding: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto;
    font-family: Tahoma, 'courier', 'arial';
}
