.chip {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid $color-chip-border;
    padding: 0;
    height: 25px;
    line-height: 0;
    margin-right: 5px;
	background-color: $color-chip;
	color: $color-chip-text;

    &:hover {
        cursor: pointer;
    }

    > .chip-text {
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        color: $color-chip-text;
        padding: 11px 10px 0 10px;
        letter-spacing: 0.7px;
        line-height: 0;
    }

    > i.material-icons {
		color: $color-chip-text;
        font-size: 13px;
        margin: 13px 8px 0 0;
        padding: 0;
        line-height: 0;
    }
}

.chip-action {
	@extend .chip;
	background-color: $color-white;

	&:hover {
        cursor: pointer;
    }

	> .chip-text {
		color: $color-chip-text;
	}
}
