.sidebar-menu {
	margin: 0;

	> .options {
		padding: 0;
		margin: 0;

		> .option {
			margin-bottom: 15px;
			font-size: 1.3rem;
			list-style: none;
			cursor: pointer;
			@extend .no-select;
			color: $color-off-black;

			&:hover {
				color: $color-link;
			}
		}

		> .selected {
			color: $color-link;
			font-weight: bold;
		}
	}
}
