.ui-checkbox {
	vertical-align: bottom;
	cursor: pointer;
	font-size: 1.1rem;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 0 5px 0;

	> .dicon{
		font-size: 1.5rem;
		color: map-get($gray-shades, 600);
		vertical-align: top;
	}

	> .selected {
		color: map-get($gray-shades, 800);
	}

	&:hover {
		color: map-get($gray-shades, 800);
	}

	> .text {
		display: inline-block;
		font-size: 1.1rem;
		vertical-align: sub;
		color: $color-black-light-1;
	}
}

.ui-checkbox-selected {
	color: map-get($gray-shades, 800);
}

.widget-checkbox {
	color: map-get($gray-shades, 800);
	cursor: pointer;
}

.checkbox-gray {
	color: map-get($gray-shades, 600) !important;
}
