.symbol {
    display: inline-block;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 0;
    margin: 0;
	text-align: center;
	vertical-align: center;
	background-color: map-get($gray-shades, 200);

    > .dicon {
		font-size: 18px;
		line-height: 27px;
		margin: 7px 0 0 0;
		color: map-get($gray-shades, 700);
		font-weight: 400;
    }
}
