.user-notification {
	position: fixed;
	display: none;
	top: 20px;
	right: 20px;
	background-color: $color-black-light-1;
	color: $color-white;
	padding: 10px 15px;
	text-align: left;
	border-radius: 2px;
	@extend .z-depth-1;
	z-index: 999;

	> .message {
		margin: 3px 0;
		padding: 0;
		font-size: 0.9em;
	}
}

.busy-indicator {
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
