{{#section/base-editor-inline document=document folder=folder page=page blockMode=blockMode 
	contentLinkerButton=true onInsertLink=(action 'onInsertLink') 
	previewButton=true onPreview=(action 'onPreview')  
	isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}

	<style>
		.CodeMirror {
			height: auto !important;
			font-size: 17px;
		}
	</style>

	<div class="section-code-editor">
		{{#if editMode}}
			{{focus-textarea value=pageBody id=editorId class="mousetrap"}}
		{{else}}
			<div class="mousetrap wysiwyg section-markdown-preview">
				{{{pagePreview}}}
			</div>
		{{/if}}
	</div>

{{/section/base-editor-inline}}
