{{#section/base-editor document=document folder=folder page=page isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				{{focus-textarea id="section-markdown-editor" class="mousetrap bordered" value=pageBody}}
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<div id="section-markdown-preview" class="mousetrap bordered wysiwyg">
				</div>
			</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				{{document/edit-tools document=document folder=folder page=page onInsertLink=(action 'onInsertLink')}}
			</div>
		</div>
	</div>
{{/section/base-editor}}
