.space-heading {
	margin: 0 0 55px 0;

	.space-name {
		font-size: 2rem;
		margin: 0 0 10px 0;
		font-weight: normal;
		// color: $color-primary;
	}

	.space-summary {
		font-size: 1.2rem;
		color: $color-gray;
		margin: 0 0 45px;
	}
}

.edit-space-heading {
	margin: 0 0 10px 0;

	.edit-space-name {
		> input {
			font-size: 2rem;
			font-weight: normal;
			margin: 0 0 40px 0;
			color: $color-wysiwyg;
		}
	}
}

.documents-list {
	@include content-container();
	margin-bottom: 50px;

	.document-item {
		margin: 0;
		padding: 25px 15px;
		position: relative;
		transition: 0.3s;

		&:hover {
			> .link {
				> .title {
					color: $color-link;
				}

				> .snippet {
					color: $color-gray;
				}
			}

			> .checkbox {
				display: block;
			}
		}

		> .checkbox {
			position: absolute;
			display: none;
			top: 10px;
			right: 10px;
			cursor: pointer;

			> .material-icons {
				width: 10px;
				margin: 0;
				padding: 0;
				color: $color-checkbox;
			}
		}

		.link {
			text-decoration: none;
			color: $color-off-black;
			cursor: pointer;

			&:hover {
				text-decoration: none;
				color: $color-link;

				> .title {
					color: $color-link;
				}

				> .snippet {
					color: $color-link;
				}
			}

			> .title {
				font-size: 18px;
				margin-bottom: 10px;
			}

			> .snippet {
				color: $color-gray;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	.selected-card {
		background-color: $color-selected-item !important;

		> .checkbox {
			display: block;
		}
	}
}

.move-document-options {
	height: 200px;
	overflow-y: auto;
	margin: 0;
	padding: 0;

	> .option {
		vertical-align: bottom;
		cursor: pointer;
		font-size: 0.9rem;
		overflow: hidden;
		white-space: nowrap;

		> .material-icons {
			font-size: 0.9rem;
			vertical-align: top;
		}
	}

	> .selected {
		color: $color-link;
	}
}

.category-filter {
	margin-bottom: 30px;

	> .selected {
		@extend .button-nav;
	}
}
