.folders-list {
	> .section {
		margin: 30px 0 10px;

		> .heading {
			font-size: 0.9rem;
			font-weight: bold;
			color: $color-gray;
			padding-bottom: 5px;
		}

		> .message {
			font-size: 0.8rem;
			color: $color-gray;
			margin-top: 10px;
		}

		> .list {
			padding: 0;
			margin: 5px 0 0 15px;

			> .link {
				font-size: 1rem;
				color: $color-off-black;
				text-decoration: none;

				&:hover {
					color: $color-link;
				}

				> .item {
					list-style-type: none;
					list-style: none;
					margin: 0 0 5px;
					padding: 0;
				}
			}

			> .selected {
				color: $color-link;
				font-weight: bold;
			}
		}
	}
}
