.space-settings {
	.category-table {
        padding: 0;
        margin: 0 0 0 20px;
		width: 60%;

		> .row {
			margin: 15px 0;
			padding: 15px;
			background-color: $color-off-white;
			@include border-radius(2px);

			> .category {
				display: inline-block;

				> .name {
					font-size: 1.2rem;
				}

				> .info {
					font-size: 0.9rem;
					margin-top: 8px;
					color: $color-gray;
				}
			}

			> .buttons {
				margin-top: 5px;
			}

			> .action {
				display: inline-block;
			}

			> .input-control {
				margin: 0;
				display: inline-block;

				> input {
					margin: 0 0 8px 0;
					padding: 0;
					font-size: 1.2rem;
				}
			}
		}
	}
}

.category-access-dialog {
	display: none;
}
