.space-settings {
	> .panel {
		@include content-container();
		@include ease-in();
		@extend .transition-all;
	}

	.permissions-table {
        padding: 0;
        margin: 0 0 30px 0;
		width: 100%;

		> .row {
			padding: 8px 0;

			> .permission-name-cell {
				font-size: 1.1rem;
				background-color: $color-off-white;
				padding: 10px 10px;
			}

			> .permission-roles-cell {
				margin: 15px 0 20px 40px;

				> .role-category {
					color: $color-gray;
					font-weight: bold;
					display: inline-block;
				}

				> label {
					color: $color-gray;
					font-weight: normal;
				}
			}
		}
	}

	.category-table {
        padding: 0;
        margin: 0 0 0 20px;
		width: 60%;

		> .row {
			margin: 15px 0;
			padding: 8px 10px;
			background-color: $color-off-white;
			@include border-radius(2px);

			> .category {
				font-size: 1.2rem;
				vertical-align: bottom;
				display: inline-block;
				margin-top: 8px;
			}

			> .action {
				display: inline-block;
			}

			> .input-control {
				margin: 0;
				display: inline-block;

				> input {
					margin: 0;
					padding: 0;
					font-size: 1.2rem;
				}
			}
		}
	}
}

