.sidebar-folder-share {
    > .input-control {
        margin-bottom: 30px;
    }
}

.sidebar-permissions {
    > .input-control {
        margin-bottom: 30px;
    }

    > .permissions-table {
        border: none;
        padding: 0;
        margin: 0 0 30px 0;
		table-layout: fixed;
		width: 100%;
		white-space: nowrap;

        > thead {
            > tr {
                > th {
                    font-weight: bold;
                    text-align: center;
                }

				> th:nth-child(1) {
					width: 70%;
                }

                > th:nth-child(2), td:nth-child(3) {
					width: 20%;
                }
			}
        }

        > tbody {
			width: 300px;

            > tr {
                > td {
                    padding: 8px 0;
					@extend .truncate;
                }

				> td:nth-child(1) {
					text-align: left;
                }

                > td:nth-child(2), td:nth-child(3) {
                    text-align: center;
                }
            }
        }
    }
}

