{{layout/logo-heading
	title=(localize 'tags')
	desc=(localize 'tag_rules' appMeta.maxTags)
	icon=constants.Icon.Tag}}

{{#each tagz as |tag|}}
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="dicon {{constants.Icon.Tag}}" />
			</span>
		</div>
		{{input type="text" id=(concat "add-tag-field-" tag.number) class="form-control mousetrap tag-input" placeholder=(localize 'tag') value=tag.value}}
	</div>
	<Ui::UiSpacer @size="200" />
{{/each}}

<Ui::UiSpacer @size="300" />

{{ui/ui-button
	color=constants.Color.Green
	icon=constants.Icon.Tag
	label=(localize 'save')
	light=true
	onClick=(action "onSave")}}
