<div class="content-zone">
	<div class="explainer-header">General Options</div>
	<p class="explainer-text explainer-gap">Set name, excerpt and lifecycle stage</p>

	<form class="view-document">
		<div class="form-group">
			<label for="document-name">Name</label>
			{{focus-input id="document-name" type="text" value=docName
				class=(if hasNameError "form-control mousetrap is-invalid" "form-control mousetrap") placeholder="Title" autocomplete="off"}}
		</div>

		<div class="form-group">
			<label for="document-excerpt">Excerpt</label>
			{{textarea id="document-excerpt" rows="4" value=docExcerpt class="form-control mousetrap" placeholder="Excerpt" autocomplete="off"}}
			<small class="form-text text-muted">Optional description explaining content</small>
		</div>

		<button type="submit" class="btn btn-success text-uppercase bold-700 mt-5" {{action "onSave"}}>Save</button>
	</form>
</div>

