<div class="content-zone">
	<div class="explainer-header">Categories & Tags</div>
	<p class="explainer-text explainer-gap">Categorize your content, assign tags to suppliment</p>

	<h1>Specify up to {{appMeta.maxTags}} tags</h1>
	<p class="form-text text-muted">Lowercase, characters, numbers, hyphens only</p>
	<form>
		{{#each tagz as |tag|}}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">#</span>
				</div>
				{{input type="text" id=(concat "add-tag-field-" tag.number) class="form-control mousetrap tag-input" placeholder="Tag name" value=tag.value}}
			</div>
		{{/each}}
	</form>

	<div class="mt-5" />

	<h1>Assign categories</h1>
	<p class="form-text text-muted">Categories allow you divide a space into logical chunks</p>

	{{ui/ui-list-picker items=categories nameField="category" singleSelect=false}}
	{{#unless selectedCategories}}
		<p class="text-danger">This space has no categories defined yet.</p>
	{{/unless}}

	<button type="submit" class="btn btn-success text-uppercase font-weight-bold mt-5" {{action "onSave"}}>Save</button>
</div>

