<div class="back-to-space document-space">
	<div class="caption">Space</div>
	{{#link-to 'folder' folder.id folder.slug}}
		<div class="regular-button button-gray">
			<i class="material-icons">arrow_back</i>
			<div class="name">{{folder.name}}</div>
		</div>
	{{/link-to}}
</div>

<div class="document-category">
	<div class="caption">Category</div>

	{{#each selectedCategories as |cat|}}
		<div class="regular-button button-blue">{{cat.category}}</div>
	{{/each}}

	{{#if hasCategories}}
		<div class="regular-button button-white" id="document-category-button">
			<i class="material-icons">add</i>
		</div>

		{{#dropdown-dialog target="document-category-button" position="bottom left" button="set" color="flat-green" onAction=(action 'onSave')}}
			<p class="heading">Select categories for document</p>
			{{ui/ui-list-picker items=categories nameField='category'}}
		{{/dropdown-dialog}}
	{{else}}
		<p>&nbsp;</p>
	{{/if}}
</div>
