<div class="view-document">
	<div class="document-customfields">
		<div class="row">
			<div class="col-2 heading">
				Categories
			</div>
			<div class="col-10 value">
				{{#each selectedCategories as |cat|}}
					{{cat.category}}{{#unless cat.lastObject}}, {{/unless}}
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{#if canAddCategory}}
	{{#unless canSelectCategory}}
		{{#link-to 'folder.category' folder.id folder.slug class='non-printable'}}Manage{{/link-to}}
	{{/unless}}
{{else}}
	<p>&nbsp;</p>
{{/if}}

{{#if canSelectCategory}}
	<div class="regular-button button-white" id="document-category-button">
		<i class="material-icons">add</i>
	</div>
	{{#dropdown-dialog target="document-category-button" position="bottom right" button="set" color="flat-green" onAction=(action 'onSave')}}
		<p class="heading">Set document categories</p>
		<div class="document-category-dialog">
			{{ui/ui-list-picker items=categories nameField='category'}}
			{{#if canAddCategory}}
				{{#link-to 'folder.category' folder.id folder.slug}}Manage{{/link-to}}
			{{/if}}
		</div>
	{{/dropdown-dialog}}
{{/if}}
