<div class="document-tags">
	<div class="caption">Tag</div>
    {{#each tagz as |tg|}}
		<div class="regular-button button-chip">{{concat '#' tg}}</div>
    {{/each}}
    {{#if canAdd}}
		<div class="chip-action">
			<span id="add-tag-button" class="chip-text">+</span>
		</div>
		{{#dropdown-dialog target="add-tag-button" position="bottom left" button="Add" color="flat-green" onAction=(action 'addTag') focusOn="add-tag-field" onOpenCallback=(action 'onTagEditor') targetOffset="20px 0"}}
			<div class="input-control">
				<label>Tag</label>
				<div class="tip">Lowercase letters, numbers, dashes</div>
                {{focus-input id="add-tag-field" value=newTag type="text"}}
            </div>
		{{/dropdown-dialog}}
	{{/if}}
</div>
