<div class="col-lg-4 col-md-4 col-sm-4">

    <div class="sidebar">

        <img class="logo" src="assets/img/logo-black.png" />

        <div class="stage-1">
            <h1>Hello!</h1>
            <p>Let's set up your account</p>
            <div class="input-control">
                <label>Firstname</label>
                <div class="tip">Nickname or otherwise</div>
                <input id="stage-1-firstname" type="text" value="" />
            </div>
            <div class="input-control">
                <label>Lastname</label>
                <div class="tip">To customize the app for you</div>
                <input id="stage-1-lastname" type="text" value="" />
            </div>
            <div class="input-control">
                <div id="stage-1-next" class="regular-button button-green">Next &rsaquo;</div>
            </div>
        </div>

        <div class="stage-2">
            <h1>Password</h1>
            <div class="input-control">
                <label>Password</label>
                <div class="tip">Between 6 and 50 characters</div>
                <input id="stage-2-password" type="password" value="" />
            </div>
            <div class="input-control">
                <label>Confirm Password</label>
                <div class="tip">Re-type your chosen password</div>
                <input id="stage-2-password-confirm" type="password" value="" />
            </div>
            <div class="input-control">
                <div id="stage-2-next" class="regular-button button-green">Sign In &rsaquo;</div>
            </div>
        </div>

        <div class="stage-3">
            <h1>Please Wait</h1>
            <p>Signing you in...</p>
        </div>

    </div>
</div>

<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="rightbar">
        <div class="stage-1">
            <div class="account-name-preview">
                <div class="nav-icon"></div>
                <div class="title">DOCUMIZE</div><img class="name-status" src="assets/img/onboard/person.png" /></div>
        </div>
        <div class="stage-2">
            <div class="account-name-preview">
                <div class="nav-icon"></div>
                <div class="title">DOCUMIZE</div><img class="password-status" src="assets/img/onboard/lock.png" /></div>
        </div>
        <div class="stage-3">
            <div class="account-name-preview">
                <div class="nav-icon"></div>
                <div class="title"></div>
                <div id="spinner-1" class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>
        </div>
    </div>
</div>