<form {{action "forgot" on="submit"}}>
    {{#if sayThanks}}
        <div class="reset-thanks margin-bottom-30">Thanks. Check your email for instructions.</div>
    {{else}}
        <div class="form-group">
            <label for="email">Email</label>
            {{focus-input type="email" value=email id="email" class=(if hasEmptyEmailError "form-control is-invalid" "form-control")}}
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-success font-weight-bold text-uppercase">Reset</button>
        </div>
    {{/if}}
	<div class="mt-5">
	    {{#link-to "auth.login"}}Click here to sign in{{/link-to}}
	</div>
</form>
