<form {{action "forgot" on="submit"}}>
    {{#if sayThanks}}
        <p class="color-green-700 margin-bottom-30">Thanks. Check your email for instructions.</p>
    {{else}}
        <div class="form-group">
            <label for="email">Email</label>
            {{focus-input type="email" value=email id="email" class=(if hasEmptyEmailError "form-control is-invalid" "form-control")}}
            {{#if sayError}}
                <p class="color-red-700 margin-top-10">Email not found</p>
            {{/if}}
        </div>
		{{ui/ui-button color=constants.Color.Yellow light=true label=(localize 'reset') onClick=(action "forgot")}}
    {{/if}}

	<Ui::UiSpacer @size="400" />
	{{#link-to "auth.login"}}Click here to sign in{{/link-to}}
</form>
