<div class="not-found">
	<h1>Oops! That page couldn't be found.</h1>
	<p>Maybe the content you're looking for is no longer available?</p>
	<p>&nbsp;</p>
	<a href="/">Return to Documize home page</a>
</div>
{{outlet}}
