<div class="auth-box">
    <div class="logo">
        <img src="assets/img/logo-color.png" title="Documize" alt="Documize" class="responsive-img" />
    </div>
    <div class="login-form">
        {{forgot-password forgot=(action 'forgot')}}
    </div>
</div>
