footer {
	background-color: $color-off-white;
	background-color: $color-primary-light;
	color: $color-dark;
	font-weight: 500;
	font-size: 0.9rem;
	padding: 10px 2rem;
}

.footer {
	a, a:visited {
		@include ease-in();
		color: $color-primary;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
