.sidebar {
	padding: 1rem;
}

.sidebar-center {
	text-align: center;
}

.sidebar-scroll {
	padding: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar-white {
	background-color: $color-white;
	margin: 10px 10px;

	@media (min-width: $break-1) {
		margin: 10px 10px;
		height: calc(100vh - 204px);
		overflow-x: hidden;
		overflow-y: auto;
	}
	@media (min-width: $break-2) {
		margin: 10px 10px;
	}
	@media (min-width: $break-3) {
		margin: 20px 20px;
	}
	@media (min-width: $break-4) {
		margin: 20px 20px;
	}
	@media (min-width: $break-5) {
		margin: 20px 20px;
	}
}

.sidebar-view-switcher {
	color: $color-primary;
	background-color: $color-primary-light;
	padding: 5px 20px;
	text-align: center;
	height: 50px;

	> i {
		font-size: 2rem;
		cursor: pointer;
		@include ease-in();

		&:hover {
			color: $color-link;
		}
	}

	> .divider {
		margin: 0 10px;
	}
}
