.footer {
	background-color: $color-off-white;
	background-color: $color-primary-light;
	// border-top: 1px solid $color-gray-light2;
	color: $color-gray;
	font-weight: 500;
	font-size: 0.9rem;
	padding: 10px 2rem;
}
