.document-copy-move {
	> .documents-list {
		margin: 0;
		padding: 0;
		width: 100%;

		> .document {
			@include ease-in();
			margin: 0 0 5px 0;
			padding: 10px 15px;
			color: map-get($gray-shades, 600);
			background-color: map-get($gray-shades, 100);
			cursor: pointer;
			position: relative;
			list-style-type: none;

			&:hover {
				color: $color-black;
			}

			> .title {
				color : $color-black-light-1;
				font-size: 1rem;
			}

			> .space {
				color : map-get($gray-shades, 600);
				font-size: 0.8rem;
				font-style: italic;
				font-weight: bold;
				margin-bottom: 10px;
			}

			> .snippet {
				color : map-get($gray-shades, 600);
				font-size: 0.9rem;
			}

			> .material-icons {
				position: absolute;
				top: 10px;
				right: 10px;
				color: $color-white;
			}
		}

		> .selected {
			background-color: $color-link !important;

			> .title, .space, .snippet {
				color: $color-white !important;
			}
		}
	}
}
