.view-document {
	> .document-heading {
		.doc-title {
			margin: 50px 0 10px;
			font-size: 2.2rem;
			font-weight: bold;
		}

		.doc-excerpt {
			font-size: 1.2rem;
			color: map-get($gray-shades, 600);
			margin: 0 0 20px;
		}
	}
}

.document-lifecycle-live {
	@include border-radius(3px);
	@include ease-in();
	display: inline-block;
	border: 2px solid map-get($green-shades, 700);
	padding: 2px 10px;
	color: map-get($gray-shades, 600);
	background-color: map-get($gray-shades, 100);
	font-weight: 800;
	font-size: 1rem;

	&:hover {
		color: map-get($green-shades, 500);
	}
}

.document-lifecycle-draft {
	@extend .document-lifecycle-live;
	border: 2px solid map-get($yellow-shades, 700);

	&:hover {
		color: map-get($yellow-shades, 700);
	}
}

.document-protection-unlocked {
	@include border-radius(3px);
	@include ease-in();
	display: inline-block;
	padding: 2px 10px;
	font-weight: 800;
	font-size: 1rem;
	color: map-get($gray-shades, 600);
	background-color: map-get($gray-shades, 100);
	border: 2px solid map-get($gray-shades, 600);

	&:hover {
		color: map-get($gray-shades, 800);
	}
}

.document-protection-review {
	@extend .document-protection-unlocked;
	border: 2px solid map-get($yellow-shades, 700);

	&:hover {
		color: map-get($yellow-shades, 700);
	}
}

.document-protection-locked {
	@extend .document-protection-unlocked;
	border: 2px solid map-get($red-shades, 600);

	&:hover {
		color: map-get($red-shades, 600);
	}
}

.document-category {
	display: inline-block;
	padding: 2px 10px;
	font-weight: 600;
	font-size: 1rem;
	color: map-get($gray-shades, 600);
	background-color: map-get($gray-shades, 100);
	border: 2px solid map-get($gray-shades, 600);
	border-left: 13px solid map-get($gray-shades, 600);
	margin-right: 20px;
}

.document-tag {
	display: inline-block;
	padding: 2px 0;
	font-size: 1.1rem;
	font-weight: 600;
	font-style: italic;
	color: map-get($gray-shades, 600);
	margin-right: 20px;
}
