.document-meta-wrapper {
	padding: 20px 20px 0 20px;
	@include border-radius(16px);
	background-color: map-get($gray-shades, 100);
}

.document-meta {
	margin: 0;
	padding: 0;

	> .title {
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 600;
		color: map-get($gray-shades, 700);
		margin-bottom: 5px;
	}

	> .text {
		margin: 10px 0;
		font-size: 1rem;
		font-weight: 500;
		color: map-get($gray-shades, 600);
	}

	> .empty {
		margin: 10px 0;
		font-size: 1rem;
		font-weight: 400;
		color: map-get($gray-shades, 600);
	}

	> .meta-label {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($gray-shades, 200);
		color: map-get($gray-shades, 700);

		> .dicon {
			vertical-align: middle;
			font-size: 1.2rem;
			margin-right: 5px;
			color: map-get($gray-shades, 600);
		}
	}

	> .label-open {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($gray-shades, 700);
		color: map-get($gray-shades, 100);
		text-transform: uppercase;
	}

	> .label-protected {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($green-shades, 700);
		color: map-get($green-shades, 100);
		text-transform: uppercase;
	}

	> .label-locked {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($red-shades, 700);
		color: map-get($red-shades, 100);
		text-transform: uppercase;
	}

	> .label-draft {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($yellow-shades, 500);
		color: map-get($gray-shades, 100);
		text-transform: uppercase;
	}

	> .label-live {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($green-shades, 500);
		color: map-get($gray-shades, 100);
		text-transform: uppercase;
	}

	> .label-archived {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($red-shades, 300);
		color: map-get($gray-shades, 800);
		text-transform: uppercase;
	}

	> .label-template {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 5px 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($yellow-shades, 300);
		color: map-get($yellow-shades, 800);
		text-transform: uppercase;
	}

	> .label-workflow-status {
		@extend .no-select;
		display: block;
		margin: 0;
		font-size: 0.9rem;
		font-weight: 400;
		color: map-get($green-shades, 700);
	}

	> .label-version {
		@include border-radius(3px);
		@extend .no-select;
		display: inline-block;
		margin: 5px 0 5px 0;
		padding: 0.3rem 0.7rem;
		font-size: 1.1rem;
		font-weight: 500;
		background-color: map-get($gray-shades, 800);
		color: map-get($gray-shades, 100);
	}

	> .version-dropdown {
		color: map-get($gray-shades, 500);
		font-size: 25px;
		vertical-align: middle;
		cursor: pointer;
	}

	> .document-heading {
		.name {
			margin: 0;
			color: map-get($gray-shades, 900);
			font-size: 2.2rem;
			font-weight: 700;
		}

		.desc {
			color: map-get($gray-shades, 800);
			font-size: 1.2rem;
			font-weight: 500;
		}

		> .dates {
			margin-bottom: 2rem;
			font-size: 0.9rem;
			font-weight: 300;
			color: map-get($gray-shades, 700);
		}
	}
}
