.section-editor {
	> .canvas {
		padding: 30px 20px;
		box-shadow: 0 0 0 0.75pt map-get($gray-shades, 200),0 0 3pt 0.75pt map-get($gray-shades, 200);
		border: 1px solid map-get($gray-shades, 200);
	}
}

.content-linker-modal-container {
	height: 500px;
	overflow-y: auto;

	.dicon {
		margin-right: 5px;
		height: 15px;
		width: 15px;
	}
}

.block-editor {
	margin-top: 3rem;
}
