#upload-document-files {
	> .dz-preview, .dz-processing {
		display: none !important;
	}
}

.document-sidebar-attachment {
	> .files {
		margin: 0;
		padding: 0;

		> .file {
			list-style-type: none;
			margin: 10px 0 0 0;
			padding: 5px;
			width: 100%;
			font-size: 0.9rem;
			position: relative;

			> a {
				display: inline-block;
				font-size: 0.9rem;
				vertical-align: text-top;
				margin-right: 10px;
				width: 90%;
				@extend .text-truncate;
			}

			> .menu {
				position: absolute;
				right: -10px;
				top: 0;
			}
		}
	}
}

.dz-preview, .dz-processing {
	display: none !important;
}
.section-attachments {
	margin: 1.5rem 0 0 0;
	padding: 0;

	> .file {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 1rem;
		position: relative;

		> a {
			display: inline-block;
			font-size: 1rem;
			vertical-align: text-top;
			margin-right: 10px;
			width: 90%;
			@extend .text-truncate;
		}

		> .menu {
			position: absolute;
			right: -10px;
			top: 0;
		}
	}
}
