.document-sidebar-attachment {
	> .files {
		margin: 0;
		padding: 0;

		> .file {
			list-style-type: none;
			margin: 0;
			padding: 0 10px 0 0;
			font-size: 0.9rem;
			position: relative;
			display: inline-block;

			> a {
				display: inline-block;
				font-size: 1rem;
				@extend .text-truncate;
			}

			> .menu {
				display: inline-block;
				color: map-get($gray-shades, 300);
				font-size: 1.2rem;

				&:hover {
					color: map-get($gray-shades, 600);
				}
			}
		}
	}
}

#upload-document-files {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.9rem;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	vertical-align: super;

	> i {
		display: inline-block;
		color: map-get($gray-shades, 600);
		font-size: 1rem;
		cursor: pointer;

		&:hover {
			color: map-get($gray-shades, 800);
		}
	}

	> .dz-preview, .dz-processing {
		display: none !important;
	}
}

.dz-preview, .dz-processing {
	display: none !important;
}

.section-attachments {
	margin: 1.5rem 0 1.5rem 0;
	padding: 0;

	> .file {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 1rem;
		position: relative;

		> a {
			display: inline-block;
			font-size: 1rem;
			vertical-align: text-top;
			margin-right: 10px;
			width: 90%;
			@extend .text-truncate;
		}

		> .menu {
			position: absolute;
			right: -10px;
			top: 0;
		}
	}
}
