.view-attachment {
	> .upload-document-files {
		@include ease-in();
		margin: 50px 0 10px 0;

		> .dz-preview, .dz-processing {
			display: none !important;
		}
	}

	> .list {
		margin: 10px 0 0 0;
		padding: 0;

		> .item {
			margin: 0;
			padding: 0;
			font-size: 1.1rem;
			list-style-type: none;
			border-left: 6px solid map-get($gray-shades, 300);
			padding-left: 15px;
			margin-left: 3px;

			> a {
				@include ease-in();
				display: inline-block;
				font-size: 1.1rem;
				vertical-align: text-top;
				margin-right: 10px;
				color: map-get($gray-shades, 600);

				&:hover {
					color: $color-link;
				}
			}

			> .delete {
				display: inline-block;
				visibility: hidden;
			}

			&:hover {
				> .delete {
					visibility: visible;
				}
			}
		}
	}
}
