.vote-box {
	margin: 50px 0;
	padding: 30px 50px;
	text-align: center;
	max-width: 400px;
	border: 1px dotted $color-border;
	background: $color-off-white;
	@include border-radius(3px);

	> .prompt {
		font-size: 1.5rem;
		font-weight: 600;
		color: $color-dark;
	}

	> .buttons {
		margin: 20px 0 0 0;
	}

	> .ack {
		font-size: 1.2rem;
		font-weight: 600;
		color: $color-green;
	}
}
