.wysiwyg {
	font-size: 1rem;
	line-height: 1.5rem;
	color: $color-black-light-1;

	iframe {
		border: none;
	}

	table {
		border: 1px solid map-get($gray-shades, 300) !important;

		th {
			padding: 5px 7px !important;
			border: 1px solid map-get($gray-shades, 300) !important;
			background-color: map-get($gray-shades, 100);
			vertical-align: top;
			text-align: left;
		}

		td {
			padding: 5px 7px !important;
			border: 1px solid map-get($gray-shades, 300) !important;
			vertical-align: top;
			text-align: left;

			p {
				margin: 0 !important;
				padding: 0 !important;
			}
		}
	}

	ol,
	ul {
		margin: 15px 0;
		padding: 0 0 0 40px;
		// line-height: 20px;
		line-height: 1.8rem;
	}

	ol ol, ul ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	ol {
		li {
			// list-style-type: decimal;
			// line-height: 20px;
			line-height: 1.8rem;
		}
	}

	ul {
		li {
			// list-style-type: disc;
			// line-height: 20px;
			line-height: 1.8rem;
		}
	}

	p {
		line-height: 1.5rem;

		> code {
			line-height: 1.8rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
		margin: 16px 0;
		color: map-get($gray-shades, 800);
	}

	h1 { font-size: 2.0rem; }
	h2 { font-size: 1.8rem; }
	h3 { font-size: 1.6rem; }
	h4 { font-size: 1.4rem; }
	h5 { font-size: 1.3rem; }
	h6 { font-size: 1.1rem; }

	code {
		font-size: 13px;
		background-color: map-get($yellow-shades, 100);
		padding: 2px 5px;
		border: 1px solid map-get($yellow-shades, 300);
		@include border-radius(3px);
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		color: map-get($gray-shades, 800);
	}

	pre {
		background-color: map-get($yellow-shades, 100);
		padding: 10px;
		border: 1px solid map-get($yellow-shades, 300);
		@include border-radius(3px);
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		color: map-get($gray-shades, 800);
		margin: 1.5rem 0;

		> code {
			background-color: transparent;
			padding: 0;
			border: none;
			@include border-radius(0px);
			font-size: 1rem;
			font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
			color: map-get($gray-shades, 800);
		}
	}

	pre[class*="language-"] {
		margin: 1.5rem 0;
	}

	blockquote {
		background-color: map-get($gray-shades, 100);
		border-left: 7px solid map-get($gray-shades, 200);
		color: map-get($gray-shades, 800);
		@include border-radius(3px);
		padding: 10px 20px;
		margin: 10px 30px;

		> p {
			margin: 0.5rem 0;
		}
	}

	.code-mirror {
		background-color: none;
		padding: 10px;
		border: none;
		@include border-radius(0px);
	}

	.wysiwyg-table {
		border: none;
		border-collapse: collapse;
		empty-cells: show;
		max-width: 100% !important;
		margin: 0 !important;

		.fr-dashed-borders td,
		.fr-dashed-borders th {
			border-style: dashed;
		}

		.fr-alternate-rows tbody tr:nth-child(2n) {
			background: #f5f5f5;
		}

		td,
		th {
			border: 1px solid #f3f5f8;
			padding: 5px 7px !important;
		}

		td:empty,
		th:empty {
			height: 20px;
		}

		td.fr-highlighted,
		th.fr-highlighted {
			border: 1px double red;
		}

		td.fr-thick,
		th.fr-thick {
			border-width: 2px;
		}

		th {
			background: #f7f6f6;
		}
	}
}
