{{layout/zone-navigation}}

{{#layout/zone-sidebar}}
	<div class="page-search">
		<div class="input-control">
			{{focus-input type="text" value=filter placeholder='search'}}
			<p>#tags, keywords, "some phrase"</p>
			<p>keyword AND keyword</p>
			<p>keyword OR keyword</p>
		</div>
	</div>
{{/layout/zone-sidebar}}

{{#layout/zone-content}}
	<div class="page-search">
		{{search/search-results results=results}}
	</div>
{{/layout/zone-content}}
