{{layout/zone-navigation}}

{{#layout/zone-sidebar}}
	{{layout/sidebar-intro title="Search" message='Search by: #tags, keywords, "some phrase", this AND that, this OR that'}}
	<div class="page-search">
		<div class="input-control">
			{{focus-input type="text" value=filter placeholder='search'}}
		</div>
	</div>
{{/layout/zone-sidebar}}

{{#layout/zone-content}}
	<div class="page-search">
		{{search/search-results results=results}}
	</div>
{{/layout/zone-content}}
