{{#layout/zone-container}}

	{{layout/zone-navigation}}

	{{#layout/zone-header title=session.appMeta.title message=session.appMeta.message}}
		{{layout/button-home}}
	{{/layout/zone-header}}

	<div class="page-search">
		<div class="input-control">
			<label>Search</label>
			<div class="tip">#tags, keywords, "some phrase", keyword AND keyword, keyword OR keyword</div>
			{{focus-input class="input" type="text" value=filter placeholder='start typing...'}}
		</div>
		{{search/search-results results=results}}
	</div>

{{/layout/zone-container}}
