<div class="zone-document-history">
	<div class="page-container">
		<div id="page-content-wrapper">
			<div id="zone-document-content" class="zone-document-content">
				<div class="back-to-space">
					{{#link-to 'document.index' model.folder.id model.folder.slug model.document.id model.document.slug}}
						<i class="material-icons">arrow_back</i>&nbsp;{{model.document.name}}
					{{/link-to}}
				</div>
				{{document/document-heading document=model.document}}
				{{#if hasRevisions}}
					{{document/document-history document=model.document folder=model.folder pages=model.pages
					revisions=model.revisions diff=model.diff onFetchDiff=(action 'onFetchDiff') onRollback=(action 'onRollback')}}
				{{else}}
					No revisions made
				{{/if}}
			</div>
		</div>
	</div>
</div>



