<div class="folder-settings">

	{{#if tabPermissions}}
		<div class="form-bordered">
			<div class="form-header">
		        <div class="title">Permissions</div>
		        <div class="tip">Decide who can see and edit within this space</div>
		    </div>
			<div class="input-control">
				<label>Permissions</label>
				<div class="tip">The message that gets sent to new invites for <strong>{{folder.name}}</strong></div>
				{{textarea id="explainRole" value=roleMessage rows=3}}
			</div>

	    </div>
	{{/if}}
</div>
