{{#section/base-editor-inline document=document folder=folder page=page
	blockMode=blockMode contentLinkerButton=true onInsertLink=(action "onInsertLink")
	isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	<div id={{editorId}} class="mousetrap wysiwyg wysiwyg-editor">
		{{{pageBody}}}
	</div>
{{/section/base-editor-inline}}
